testdata/Model/XmlSchema/General/SimpleTypeRestrictionsExtended.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <xsd:element name="Root">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="t1" type="stringMinMaxLengthRestrictions" />
        <xsd:element name="t2" type="stringLengthRestrictions" />
        <xsd:element name="t3" type="stringEnumRestrictions" />
        <xsd:element name="t4" type="stringPatternRestrictions" />
        <xsd:element name="n1" type="numberRestrictions" />
        <xsd:element name="n2" type="numberRestrictions2" />
        <xsd:element name="i1" type="intRestrictions" />
        <xsd:element name="i2" type="integerRestrictions" />
        <xsd:element name="f1" type="numberRestrictionsFractional0" />
        <xsd:element name="f2" type="numberRestrictionsFractional1" />
        <xsd:element name="f3" type="numberRestrictionsFractional2" />
        <xsd:element name="f4" type="numberRestrictionsFractional3" />
        <xsd:element name="f5" type="numberRestrictionsFractional4" />
        <xsd:element name="f6" type="numberRestrictionsFractional5" />
        <xsd:element name="nonPrimitive" type="nestedStringRestrictions" />
        <xsd:element name="intRangeWithoutLimits" type="intRangeWithoutLimits" />
        <xsd:element name="intRangeWithLimits" type="intRangeWithLimits" />
        <xsd:element name="intRangeLeftLimit" type="intRangeLeftLimit" />
        <xsd:element name="intRangeRightLimit" type="intRangeRightLimit" />
        <xsd:element name="integerRangeWithoutLimits" type="integerRangeWithoutLimits" />
        <xsd:element name="integerRangeWithLimits" type="integerRangeWithLimits" />
        <xsd:element name="integerRangeLeftLimit" type="integerRangeLeftLimit" />
        <xsd:element name="integerRangeRightLimit" type="integerRangeRightLimit" />
        <xsd:element name="longRangeWithoutLimits" type="longRangeWithoutLimits" />
        <xsd:element name="longRangeWithLimits" type="longRangeWithLimits" />
        <xsd:element name="longRangeLeftLimit" type="longRangeLeftLimit" />
        <xsd:element name="longRangeRightLimit" type="longRangeRightLimit" />
        <xsd:element name="decimalRangeWithoutLimits" type="decimalRangeWithoutLimits" />
        <xsd:element name="decimalRangeWithLimits" type="decimalRangeWithLimits" />
        <xsd:element name="decimalRangeLeftLimit" type="decimalRangeLeftLimit" />
        <xsd:element name="decimalRangeRightLimit" type="decimalRangeRightLimit" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:simpleType name="stringMinMaxLengthRestrictions">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="20" />
      <xsd:minLength value="5" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="stringLengthRestrictions">
    <xsd:restriction base="xsd:string">
      <xsd:length value="10" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="stringEnumRestrictions">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="v1" />
      <xsd:enumeration value="v2" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="stringPatternRestrictions">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="^\d\.\d\.\d$" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="numberRestrictions">
    <xsd:restriction base="xsd:decimal">
      <xsd:totalDigits value="10" />
      <xsd:maxInclusive value="100" />
      <xsd:minInclusive value="-100" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="numberRestrictions2">
    <xsd:restriction base="xsd:decimal">
      <xsd:totalDigits value="10" />
      <xsd:maxExclusive value="100" />
      <xsd:minExclusive value="-100" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="integerRestrictions">
    <xsd:restriction base="xsd:integer">
      <xsd:totalDigits value="10" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="intRestrictions">
    <xsd:restriction base="xsd:int">
      <xsd:totalDigits value="10" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="numberRestrictionsFractional0">
    <xsd:restriction base="xsd:decimal">
      <xsd:fractionDigits value="0" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="numberRestrictionsFractional1">
    <xsd:restriction base="xsd:decimal">
      <xsd:fractionDigits value="1" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="numberRestrictionsFractional2">
    <xsd:restriction base="xsd:decimal">
      <xsd:fractionDigits value="2" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="numberRestrictionsFractional3">
    <xsd:restriction base="xsd:decimal">
      <xsd:fractionDigits value="3" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="numberRestrictionsFractional4">
    <xsd:restriction base="xsd:decimal">
      <xsd:fractionDigits value="4" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="numberRestrictionsFractional5">
    <xsd:restriction base="xsd:decimal">
      <xsd:fractionDigits value="5" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="nestedStringRestrictions">
    <xsd:restriction base="stringMinMaxLengthRestrictions">
      <xsd:pattern value="[0-9]+"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="intRangeWithoutLimits">
    <xsd:restriction base="xsd:int">
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="intRangeWithLimits">
    <xsd:restriction base="xsd:int">
      <xsd:minInclusive value="-100" />
      <xsd:maxInclusive value="100" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="intRangeLeftLimit">
    <xsd:restriction base="xsd:int">
      <xsd:minInclusive value="-100" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="intRangeRightLimit">
    <xsd:restriction base="xsd:int">
      <xsd:maxInclusive value="100" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="integerRangeWithoutLimits">
    <xsd:restriction base="xsd:integer">
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="integerRangeWithLimits">
    <xsd:restriction base="xsd:integer">
      <xsd:minInclusive value="-100" />
      <xsd:maxInclusive value="100" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="integerRangeLeftLimit">
    <xsd:restriction base="xsd:integer">
      <xsd:minInclusive value="-100" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="integerRangeRightLimit">
    <xsd:restriction base="xsd:integer">
      <xsd:maxInclusive value="100" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="longRangeWithoutLimits">
    <xsd:restriction base="xsd:long">
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="longRangeWithLimits">
    <xsd:restriction base="xsd:long">
      <xsd:minInclusive value="-100" />
      <xsd:maxInclusive value="100" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="longRangeLeftLimit">
    <xsd:restriction base="xsd:long">
      <xsd:minInclusive value="-100" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="longRangeRightLimit">
    <xsd:restriction base="xsd:long">
      <xsd:maxInclusive value="100" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="decimalRangeWithoutLimits">
    <xsd:restriction base="xsd:decimal">
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="decimalRangeWithLimits">
    <xsd:restriction base="xsd:decimal">
      <xsd:minInclusive value="-100.0" />
      <xsd:maxInclusive value="100.0" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="decimalRangeLeftLimit">
    <xsd:restriction base="xsd:decimal">
      <xsd:minInclusive value="-100.0" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="decimalRangeRightLimit">
    <xsd:restriction base="xsd:decimal">
      <xsd:maxInclusive value="100.0" />
    </xsd:restriction>
  </xsd:simpleType>

</xsd:schema>
