src/test/apps/subform-test/App/models/model.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:seres="http://seres.no/xsd/forvaltningsdata" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xs:annotation>
    <xs:documentation>
      <xsd:attribute name="rootNode" fixed="" />
    </xs:documentation>
  </xs:annotation>
  <xs:element name="model">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Navn" type="xs:string" />
        <xs:element name="Alder" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="unbounded" name="AttachmentId" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="unbounded" name="AttachmentName" type="xs:string" />
        <xs:element minOccurs="0" name="AttachmentIdJoined" type="xs:string" />
        <xs:element minOccurs="0" name="AttachmentNameJoined" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xsd:schema>