testdata/Seres/schema_4830_4000_forms_5524_41951.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xml:lang="nb" xmlns:seres="http://seres.no/xsd/forvaltningsdata" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:annotation>
    <xsd:documentation>
      <xsd:attribute name="XSLT-skriptnavn" fixed="SERES_XSD_GEN" />
      <xsd:attribute name="XSD-generatorversjon" fixed="2.0.17" />
      <xsd:attribute name="XSLT-prosessor" fixed="SAXON versjon 9.1.0.7" />
      <xsd:attribute name="generert" fixed="2017-04-28T09:13:32.827+02:00" />
      <xsd:attribute name="navneromprefix" fixed="http://seres.no/xsd" />
      <xsd:attribute name="namespace" fixed="http://seres.no/xsd/NKR/Innkjopsordning_M/2017" />
      <xsd:attribute name="meldingsnavn" fixed="melding" />
      <xsd:attribute name="domenenavn" fixed="NKR" />
      <xsd:attribute name="modellnavn" fixed="Innkjopsordning_M" />
      <xsd:attribute name="metamodellversjon" fixed="1.2" />
      <xsd:attribute name="guid" fixed="true" />
      <xsd:attribute name="orid" fixed="false" />
      <xsd:attribute name="nillable" fixed="true" />
      <xsd:attribute name="tillat-gjenbruk" fixed="true" />
      <xsd:attribute name="elementtype" fixed="true" />
      <xsd:attribute name="forvaltningsdata" fixed="true" />
      <xsd:attribute name="forvaltningsdata-navnerom" fixed="http://seres.no/xsd/forvaltningsdata" />
      <xsd:attribute name="saernorske-bokstaver-i-navn" fixed="false" />
      <xsd:attribute name="ft_guid_som_attributt" fixed="false" />
      <xsd:attribute name="sem-ref" fixed="false" />
      <xsd:attribute name="kodebibliotek" fixed="false" />
      <xsd:attribute name="spraak" fixed="nb" />
      <xsd:attribute name="XSD-variant" fixed="Altinn 1.3.1" />
    </xsd:documentation>
  </xsd:annotation>
  <xsd:element name="melding" type="Innkjopsordning_M" />
  <xsd:complexType name="Innkjopsordning_M" seres:elementtype="Meldingsmodell" seres:guid="http://seres.no/guid/NKR/Meldingsmodell/Innkjopsordning_M/637967">
    <xsd:sequence>
      <xsd:element name="InnsendteData" type="InnsendteData" seres:elementtype="Meldingsdel" seres:guid="http://seres.no/guid/NKR/Meldingsdel/InnsendteData/637965" />
    </xsd:sequence>
    <xsd:attribute name="dataFormatProvider" type="xsd:string" use="required" fixed="SERES" />
    <xsd:attribute name="dataFormatId" type="xsd:string" use="required" fixed="5524" />
    <xsd:attribute name="dataFormatVersion" type="xsd:string" use="required" fixed="41951" />
    <xsd:anyAttribute />
  </xsd:complexType>
  <xsd:complexType name="InnsendteData" seres:elementtype="Meldingsdel" seres:guid="http://seres.no/guid/NKR/Meldingsdel/InnsendteData/637965">
    <xsd:sequence>
      <xsd:element name="metadata" type="IOMetadata" nillable="true" minOccurs="0" seres:elementtype="Relasjonsegenskap" seres:guid="http://seres.no/guid/NKR/Relasjonsegenskap/metadata/637964" />
      <xsd:element name="innsender" type="IOInnsender" nillable="true" minOccurs="0" seres:elementtype="Relasjonsegenskap" seres:guid="http://seres.no/guid/NKR/Relasjonsegenskap/innsender/637963" />
      <xsd:element name="soknad" type="IOProsjekt" nillable="true" minOccurs="0" seres:elementtype="Relasjonsegenskap" seres:guid="http://seres.no/guid/NKR/Relasjonsegenskap/soknad/637962" />
      <xsd:element name="vedlegg" type="KodeOgVedlegg" nillable="true" minOccurs="0" seres:elementtype="Relasjonsegenskap" seres:guid="http://seres.no/guid/NKR/Relasjonsegenskap/vedlegg/637961" />
      <xsd:element name="vilkar" type="IOVilkar" nillable="true" minOccurs="0" seres:elementtype="Relasjonsegenskap" seres:guid="http://seres.no/guid/NKR/Relasjonsegenskap/vilkar/637960" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="IOMetadata" seres:elementtype="Dataobjekttype" seres:guid="http://seres.no/guid/NKR/Dataobjekttype/IOMetadata/638079">
    <xsd:sequence>
      <xsd:element name="ordning" type="KodeOgTekst" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/NKR/Dataegenskap/ordning/638078" />
      <xsd:element name="skjematype" type="KodeOgTekst" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/NKR/Dataegenskap/skjematype/638077" />
      <xsd:element name="versjon" type="KodeOgTekst" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/NKR/Dataegenskap/versjon/638257" />
      <xsd:element name="soknadsfrist" type="KodeOgDato" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/NKR/Dataegenskap/soknadsfrist/638256" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="KodeOgTekst" seres:elementtype="Datakomplekstype" seres:guid="http://seres.no/guid/NKR/Datakomplekstype/KodeOgTekst/632473">
    <xsd:sequence>
      <xsd:element name="verdi" type="Tekst" nillable="true" minOccurs="0" seres:elementtype="DataTypeegenskap" seres:guid="http://seres.no/guid/NKR/DataTypeegenskap/verdi/632471" />
      <xsd:element name="kode" type="Tekst" nillable="true" minOccurs="0" seres:elementtype="DataTypeegenskap" seres:guid="http://seres.no/guid/NKR/DataTypeegenskap/kode/634403" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="KodeOgDato" seres:elementtype="Datakomplekstype" seres:guid="http://seres.no/guid/NKR/Datakomplekstype/KodeOgDato/633149">
    <xsd:sequence>
      <xsd:element name="verdi" type="Dato" nillable="true" minOccurs="0" seres:elementtype="DataTypeegenskap" seres:guid="http://seres.no/guid/NKR/DataTypeegenskap/verdi/633147" />
      <xsd:element name="kode" type="Tekst" nillable="true" minOccurs="0" seres:elementtype="DataTypeegenskap" seres:guid="http://seres.no/guid/NKR/DataTypeegenskap/kode/634395" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="IOInnsender" seres:elementtype="Dataobjekttype" seres:guid="http://seres.no/guid/NKR/Dataobjekttype/IOInnsender/638076">
    <xsd:sequence>
      <xsd:element name="navn" type="KodeOgTekst" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/NKR/Dataegenskap/navn/638075" />
      <xsd:element name="organisasjonsnummer" type="KodeOgTekst" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/NKR/Dataegenskap/organisasjonsnummer/638074" />
      <xsd:element name="adresse" type="KodeOgTekst" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/NKR/Dataegenskap/adresse/638073" />
      <xsd:element name="kontaktperson" type="IOKontaktperson" nillable="true" minOccurs="0" seres:elementtype="Relasjonsegenskap" seres:guid="http://seres.no/guid/NKR/Relasjonsegenskap/kontaktperson/638072" />
      <xsd:element name="postnummer" type="KodeOgTekst" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/NKR/Dataegenskap/postnummer/638273" />
      <xsd:element name="poststed" type="KodeOgTekst" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/NKR/Dataegenskap/poststed/638272" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="IOKontaktperson" seres:elementtype="Dataobjekttype" seres:guid="http://seres.no/guid/NKR/Dataobjekttype/IOKontaktperson/638041">
    <xsd:sequence>
      <xsd:element name="fornavn" type="KodeOgTekst" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/NKR/Dataegenskap/fornavn/638040" />
      <xsd:element name="epost" type="KodeOgTekst" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/NKR/Dataegenskap/epost/638039" />
      <xsd:element name="telefonnummer" type="KodeOgTekst" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/NKR/Dataegenskap/telefonnummer/638038" />
      <xsd:element name="etternavn" type="KodeOgTekst" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/NKR/Dataegenskap/etternavn/638037" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="IOProsjekt" seres:elementtype="Dataobjekttype" seres:guid="http://seres.no/guid/NKR/Dataobjekttype/IOProsjekt/638071">
    <xsd:sequence>
      <xsd:element name="tittel1" type="KodeOgTekst" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/NKR/Dataegenskap/tittel1/638070" />
      <xsd:element name="tittel2" type="KodeOgTekst" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/NKR/Dataegenskap/tittel2/638069" />
      <xsd:element name="beskrivelse" type="KodeOgTekst" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/NKR/Dataegenskap/beskrivelse/638068" />
      <xsd:element name="redaksjon" type="Redaksjon" nillable="true" minOccurs="0" seres:elementtype="Relasjonsegenskap" seres:guid="http://seres.no/guid/NKR/Relasjonsegenskap/redaksjon/638067" />
      <xsd:element name="forfatter" type="IOForfatter" nillable="true" minOccurs="0" seres:elementtype="Relasjonsegenskap" seres:guid="http://seres.no/guid/NKR/Relasjonsegenskap/forfatter/638066" />
      <xsd:element name="utgivelse" type="IOUtgivelse" nillable="true" minOccurs="0" seres:elementtype="Relasjonsegenskap" seres:guid="http://seres.no/guid/NKR/Relasjonsegenskap/utgivelse/638065" />
      <xsd:element name="oversettelse" type="IOOversettelse" nillable="true" minOccurs="0" seres:elementtype="Relasjonsegenskap" seres:guid="http://seres.no/guid/NKR/Relasjonsegenskap/oversettelse/638064" />
      <xsd:element name="soknadsmateriale" type="KodeOgTekst" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/NKR/Dataegenskap/soknadsmateriale/638063" />
      <xsd:element name="forlagskategori" type="KodeOgTekst" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/NKR/Dataegenskap/forlagskategori/638062" />
      <xsd:element name="illustrator" type="KodeOgTekst" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/NKR/Dataegenskap/illustrator/638061" />
      <xsd:element name="medvirkende" type="KodeOgMedvirkende" nillable="true" minOccurs="0" seres:elementtype="Relasjonsegenskap" seres:guid="http://seres.no/guid/NKR/Relasjonsegenskap/medvirkende/638060" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Redaksjon" seres:elementtype="Dataobjekttype" seres:guid="http://seres.no/guid/NKR/Dataobjekttype/Redaksjon/638036">
    <xsd:sequence>
      <xsd:element name="redaksjonssjef" type="KodeOgTekst" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/NKR/Dataegenskap/redaksjonssjef/638035" />
      <xsd:element name="kvalitetskontroll" type="KodeOgBoolean" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/NKR/Dataegenskap/kvalitetskontroll/638034" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="KodeOgBoolean" seres:elementtype="Datakomplekstype" seres:guid="http://seres.no/guid/NKR/Datakomplekstype/KodeOgBoolean/632950">
    <xsd:sequence>
      <xsd:element name="verdi" type="Alternativ" nillable="true" minOccurs="0" seres:elementtype="DataTypeegenskap" seres:guid="http://seres.no/guid/NKR/DataTypeegenskap/verdi/632948" />
      <xsd:element name="kode" type="Tekst" nillable="true" minOccurs="0" seres:elementtype="DataTypeegenskap" seres:guid="http://seres.no/guid/NKR/DataTypeegenskap/kode/634396" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="IOForfatter" seres:elementtype="Dataobjekttype" seres:guid="http://seres.no/guid/NKR/Dataobjekttype/IOForfatter/638033">
    <xsd:sequence>
      <xsd:element name="kjonn" type="KodeOgTekst" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/NKR/Dataegenskap/kjonn/638032" />
      <xsd:element name="kommune" type="KodeOgTekst" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/NKR/Dataegenskap/kommune/638031" />
      <xsd:element name="navn" type="KodeOgTekst" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/NKR/Dataegenskap/navn/638030" />
      <xsd:element name="fodselsar" type="KodeOgHeltall" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/NKR/Dataegenskap/fodselsar/638029" />
      <xsd:element name="debutant" type="KodeOgBoolean" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/NKR/Dataegenskap/debutant/638028" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="KodeOgHeltall" seres:elementtype="Datakomplekstype" seres:guid="http://seres.no/guid/NKR/Datakomplekstype/KodeOgHeltall/632470">
    <xsd:sequence>
      <xsd:element name="verdi" type="Heltall" nillable="true" minOccurs="0" seres:elementtype="DataTypeegenskap" seres:guid="http://seres.no/guid/NKR/DataTypeegenskap/verdi/632468" />
      <xsd:element name="kode" type="Tekst" nillable="true" minOccurs="0" seres:elementtype="DataTypeegenskap" seres:guid="http://seres.no/guid/NKR/DataTypeegenskap/kode/634398" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="IOUtgivelse" seres:elementtype="Dataobjekttype" seres:guid="http://seres.no/guid/NKR/Dataobjekttype/IOUtgivelse/638027">
    <xsd:sequence>
      <xsd:element name="original" type="Originalutgivelse" nillable="true" minOccurs="0" seres:elementtype="Relasjonsegenskap" seres:guid="http://seres.no/guid/NKR/Relasjonsegenskap/original/638026" />
      <xsd:element name="innhold" type="UtgivelseInnhold" nillable="true" minOccurs="0" seres:elementtype="Relasjonsegenskap" seres:guid="http://seres.no/guid/NKR/Relasjonsegenskap/innhold/638025" />
      <xsd:element name="spesifikasjoner" type="UtgiveleseSpesifikasjoner" nillable="true" minOccurs="0" seres:elementtype="Relasjonsegenskap" seres:guid="http://seres.no/guid/NKR/Relasjonsegenskap/spesifikasjoner/638023" />
      <xsd:element name="utsalgspris" type="KodeOgDesimaltall" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/NKR/Dataegenskap/utsalgspris/638022" />
      <xsd:element name="utgiverrettigheter" type="FinnesOgKommentar" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/NKR/Dataegenskap/utgiverrettigheter/638021" />
      <xsd:element name="format" type="KodeOgTekst" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/NKR/Dataegenskap/format/638020" />
      <xsd:element name="kommentar" type="KodeOgTekst" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/NKR/Dataegenskap/kommentar/638019" />
      <xsd:element name="eBok" type="Bok" nillable="true" minOccurs="0" seres:elementtype="Relasjonsegenskap" seres:guid="http://seres.no/guid/NKR/Relasjonsegenskap/eBok/638018" />
      <xsd:element name="pBok" type="Bok" nillable="true" minOccurs="0" seres:elementtype="Relasjonsegenskap" seres:guid="http://seres.no/guid/NKR/Relasjonsegenskap/pBok/638017" />
      <xsd:element name="malgruppe" type="FlereTyperTvilOgKommentar" nillable="true" minOccurs="0" seres:elementtype="Relasjonsegenskap" seres:guid="http://seres.no/guid/NKR/Relasjonsegenskap/malgruppe/638276" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Originalutgivelse" seres:elementtype="Dataobjekttype" seres:guid="http://seres.no/guid/NKR/Dataobjekttype/Originalutgivelse/638016">
    <xsd:sequence>
      <xsd:element name="tittel" type="KodeOgTekst" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/NKR/Dataegenskap/tittel/638015" />
      <xsd:element name="utgivelsesdato" type="KodeOgDato" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/NKR/Dataegenskap/utgivelsesdato/638014" />
      <xsd:element name="sprak" type="KodeOgTekst" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/NKR/Dataegenskap/sprak/638013" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="UtgivelseInnhold" seres:elementtype="Dataobjekttype" seres:guid="http://seres.no/guid/NKR/Dataobjekttype/UtgivelseInnhold/638012">
    <xsd:sequence>
      <xsd:element name="sideantall" type="KodeOgHeltall" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/NKR/Dataegenskap/sideantall/638011" />
      <xsd:element name="malform" type="KodeOgTekst" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/NKR/Dataegenskap/malform/638010" />
      <xsd:element name="tidligerePublisert" type="FinnesOgKommentar" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/NKR/Dataegenskap/tidligerePublisert/638009" />
      <xsd:element name="illustrert" type="KodeOgBoolean" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/NKR/Dataegenskap/illustrert/638007" />
      <xsd:element name="sjanger" type="FlereTyperTvilOgKommentar" nillable="true" minOccurs="0" seres:elementtype="Relasjonsegenskap" seres:guid="http://seres.no/guid/NKR/Relasjonsegenskap/sjanger/638274" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FinnesOgKommentar" seres:elementtype="Datakomplekstype" seres:guid="http://seres.no/guid/NKR/Datakomplekstype/FinnesOgKommentar/633341">
    <xsd:sequence>
      <xsd:element name="finnes" type="KodeOgBoolean" nillable="true" minOccurs="0" seres:elementtype="DataTypeegenskap" seres:guid="http://seres.no/guid/NKR/DataTypeegenskap/finnes/633340" />
      <xsd:element name="kommentar" type="KodeOgTekst" nillable="true" minOccurs="0" seres:elementtype="DataTypeegenskap" seres:guid="http://seres.no/guid/NKR/DataTypeegenskap/kommentar/633339" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FlereTyperTvilOgKommentar" seres:elementtype="Dataobjekttype" seres:guid="http://seres.no/guid/NKR/Dataobjekttype/FlereTyperTvilOgKommentar/638268">
    <xsd:sequence>
      <xsd:element name="tvil" type="KodeOgBoolean" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/NKR/Dataegenskap/tvil/638267" />
      <xsd:element name="kommentar" type="KodeOgTekst" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/NKR/Dataegenskap/kommentar/638266" />
      <xsd:element name="typer" type="KodeOgRepeterendeKodeOgTekst" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/NKR/Dataegenskap/typer/638265" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="KodeOgRepeterendeKodeOgTekst" seres:elementtype="Datakomplekstype" seres:guid="http://seres.no/guid/NKR/Datakomplekstype/KodeOgRepeterendeKodeOgTekst/638271">
    <xsd:sequence>
      <xsd:element name="kode" type="Tekst" nillable="true" minOccurs="0" seres:elementtype="DataTypeegenskap" seres:guid="http://seres.no/guid/NKR/DataTypeegenskap/kode/638270" />
      <xsd:element name="verdi" type="KodeOgTekst" nillable="true" minOccurs="0" maxOccurs="unbounded" seres:elementtype="DataTypeegenskap" seres:guid="http://seres.no/guid/NKR/DataTypeegenskap/verdi/638269" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="UtgiveleseSpesifikasjoner" seres:elementtype="Dataobjekttype" seres:guid="http://seres.no/guid/NKR/Dataobjekttype/UtgiveleseSpesifikasjoner/637997">
    <xsd:sequence>
      <xsd:element name="omkrets" type="KodeOgTekst" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/NKR/Dataegenskap/omkrets/637996" />
      <xsd:element name="opplag" type="KodeOgHeltall" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/NKR/Dataegenskap/opplag/637995" />
      <xsd:element name="innbinding" type="KodeOgTekst" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/NKR/Dataegenskap/innbinding/637994" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="KodeOgDesimaltall" seres:elementtype="Datakomplekstype" seres:guid="http://seres.no/guid/NKR/Datakomplekstype/KodeOgDesimaltall/632467">
    <xsd:sequence>
      <xsd:element name="verdi" type="Tall" nillable="true" minOccurs="0" seres:elementtype="DataTypeegenskap" seres:guid="http://seres.no/guid/NKR/DataTypeegenskap/verdi/632465" />
      <xsd:element name="kode" type="Tekst" nillable="true" minOccurs="0" seres:elementtype="DataTypeegenskap" seres:guid="http://seres.no/guid/NKR/DataTypeegenskap/kode/634397" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Bok" seres:elementtype="Dataobjekttype" seres:guid="http://seres.no/guid/NKR/Dataobjekttype/Bok/637993">
    <xsd:sequence>
      <xsd:element name="utgivelsesdato" type="Utgivelsesdato" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/NKR/Dataegenskap/utgivelsesdato/637992" />
      <xsd:element name="isbn" type="KodeOgTekst" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/NKR/Dataegenskap/isbn/637991" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Utgivelsesdato" seres:elementtype="Datakomplekstype" seres:guid="http://seres.no/guid/NKR/Datakomplekstype/Utgivelsesdato/638055">
    <xsd:sequence>
      <xsd:element name="dato" type="KodeOgDato" nillable="true" minOccurs="0" seres:elementtype="DataTypeegenskap" seres:guid="http://seres.no/guid/NKR/DataTypeegenskap/dato/638054" />
      <xsd:element name="fastEllerTentativ" type="KodeOgBoolean" nillable="true" minOccurs="0" seres:elementtype="DataTypeegenskap" seres:guid="http://seres.no/guid/NKR/DataTypeegenskap/fastEllerTentativ/638053" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="IOOversettelse" seres:elementtype="Dataobjekttype" seres:guid="http://seres.no/guid/NKR/Dataobjekttype/IOOversettelse/637990">
    <xsd:sequence>
      <xsd:element name="gjendikter" type="KodeOgTekst" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/NKR/Dataegenskap/gjendikter/637989" />
      <xsd:element name="tilNorsk" type="Oversettelse" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/NKR/Dataegenskap/tilNorsk/637988" />
      <xsd:element name="fraOriginalsprak" type="Oversettelse" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/NKR/Dataegenskap/fraOriginalsprak/637987" />
      <xsd:element name="tilAndreSprak" type="Oversettelse" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/NKR/Dataegenskap/tilAndreSprak/637986" />
      <xsd:element name="oversetterkontrakt" type="FinnesOgKommentar" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/NKR/Dataegenskap/kontrakt/637985" />
      <xsd:element name="honorar" type="Oversettelseshonorar" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/NKR/Dataegenskap/honorar/637984" />
      <xsd:element name="kontraktOmUtgivelse" type="FinnesOgKommentar" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/NKR/Dataegenskap/kontraktOmUtgivelse/638275" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Oversettelse" seres:elementtype="Datakomplekstype" seres:guid="http://seres.no/guid/NKR/Datakomplekstype/Oversettelse/638052">
    <xsd:sequence>
      <xsd:element name="oversatt" type="KodeOgBoolean" nillable="true" minOccurs="0" seres:elementtype="DataTypeegenskap" seres:guid="http://seres.no/guid/NKR/DataTypeegenskap/oversatt/638051" />
      <xsd:element name="arstall" type="KodeOgHeltall" nillable="true" minOccurs="0" seres:elementtype="DataTypeegenskap" seres:guid="http://seres.no/guid/NKR/DataTypeegenskap/arstall/638050" />
      <xsd:element name="kommentar" type="KodeOgTekst" nillable="true" minOccurs="0" seres:elementtype="DataTypeegenskap" seres:guid="http://seres.no/guid/NKR/DataTypeegenskap/kommentar/638049" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Oversettelseshonorar" seres:elementtype="Datakomplekstype" seres:guid="http://seres.no/guid/NKR/Datakomplekstype/Oversettelseshonorar/638048">
    <xsd:sequence>
      <xsd:element name="perTusenTegn" type="KodeOgHeltall" nillable="true" minOccurs="0" seres:elementtype="DataTypeegenskap" seres:guid="http://seres.no/guid/NKR/DataTypeegenskap/perTusenTegn/638047" />
      <xsd:element name="samlet" type="KodeOgHeltall" nillable="true" minOccurs="0" seres:elementtype="DataTypeegenskap" seres:guid="http://seres.no/guid/NKR/DataTypeegenskap/samlet/638046" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="KodeOgMedvirkende" seres:elementtype="Dataobjekttype" seres:guid="http://seres.no/guid/NKR/Dataobjekttype/KodeOgMedvirkende/637983">
    <xsd:sequence>
      <xsd:element name="verdi" nillable="true" minOccurs="0" maxOccurs="unbounded" seres:elementtype="Relasjonsegenskap" seres:guid="http://seres.no/guid/NKR/Relasjonsegenskap/verdi/637982">
        <xsd:complexType>
          <xsd:complexContent>
            <xsd:extension base="IOMedvirkende">
              <xsd:anyAttribute />
            </xsd:extension>
          </xsd:complexContent>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="kode" type="Tekst" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/NKR/Dataegenskap/kode/637981" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="IOMedvirkende" seres:elementtype="Dataobjekttype" seres:guid="http://seres.no/guid/NKR/Dataobjekttype/IOMedvirkende/637980">
    <xsd:sequence>
      <xsd:element name="navn" type="KodeOgTekst" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/NKR/Dataegenskap/navn/637979" />
      <xsd:element name="fodselsar" type="KodeOgHeltall" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/NKR/Dataegenskap/fodselsar/637978" />
      <xsd:element name="debutant" type="KodeOgBoolean" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/NKR/Dataegenskap/debutant/637977" />
      <xsd:element name="epost" type="KodeOgTekst" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/NKR/Dataegenskap/epost/637976" />
      <xsd:element name="rolle" type="KodeTekstOgVisningsverdi" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/NKR/Dataegenskap/rolle/637975" />
      <xsd:element name="kjonn" type="KodeTekstOgVisningsverdi" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/NKR/Dataegenskap/kjonn/637974" />
      <xsd:element name="honorar" type="KodeOgHeltall" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/NKR/Dataegenskap/honorar/637973" />
      <xsd:element name="royality" type="KodeOgHeltall" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/NKR/Dataegenskap/royality/637972" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="KodeTekstOgVisningsverdi" seres:elementtype="Datakomplekstype" seres:guid="http://seres.no/guid/NKR/Datakomplekstype/KodeTekstOgVisningsverdi/634402">
    <xsd:sequence>
      <xsd:element name="verdi" type="Tekst" nillable="true" minOccurs="0" seres:elementtype="DataTypeegenskap" seres:guid="http://seres.no/guid/NKR/DataTypeegenskap/verdi/634401" />
      <xsd:element name="visning" type="Tekst" nillable="true" minOccurs="0" seres:elementtype="DataTypeegenskap" seres:guid="http://seres.no/guid/NKR/DataTypeegenskap/visning/634400" />
      <xsd:element name="kode" type="Tekst" nillable="true" minOccurs="0" seres:elementtype="DataTypeegenskap" seres:guid="http://seres.no/guid/NKR/DataTypeegenskap/kode/634399" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="KodeOgVedlegg" seres:elementtype="Dataobjekttype" seres:guid="http://seres.no/guid/NKR/Dataobjekttype/KodeOgVedlegg/637971">
    <xsd:sequence>
      <xsd:element name="kode" type="Tekst" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/NKR/Dataegenskap/kode/637970" />
      <xsd:element name="verdi" type="Vedlegg" nillable="true" minOccurs="0" maxOccurs="unbounded" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/NKR/Dataegenskap/verdi/637969" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Vedlegg" seres:elementtype="Datakomplekstype" seres:guid="http://seres.no/guid/NKR/Datakomplekstype/Vedlegg/638045">
    <xsd:sequence>
      <xsd:element name="type" type="KodeOgTekst" nillable="true" minOccurs="0" seres:elementtype="DataTypeegenskap" seres:guid="http://seres.no/guid/NKR/DataTypeegenskap/type/638044" />
      <xsd:element name="navn" type="KodeOgTekst" nillable="true" minOccurs="0" seres:elementtype="DataTypeegenskap" seres:guid="http://seres.no/guid/NKR/DataTypeegenskap/navn/638043" />
      <xsd:element name="kommentar" type="KodeOgTekst" nillable="true" minOccurs="0" seres:elementtype="DataTypeegenskap" seres:guid="http://seres.no/guid/NKR/DataTypeegenskap/kommentar/638042" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="IOVilkar" seres:elementtype="Dataobjekttype" seres:guid="http://seres.no/guid/NKR/Dataobjekttype/IOVilkar/638059">
    <xsd:sequence>
      <xsd:element name="offentlig" type="KodeOgBoolean" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/NKR/Dataegenskap/offentlig/638058" />
      <xsd:element name="retningslinjer" type="KodeOgBoolean" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/NKR/Dataegenskap/retningslinjer/638057" />
      <xsd:element name="kravForOrdning" type="KodeOgBoolean" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/NKR/Dataegenskap/kravForOrdning/638056" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="Tekst" seres:elementtype="Dataenkeltype" seres:guid="http://seres.no/guid/NKR/Dataenkeltype/Tekst/616185">
    <xsd:restriction base="RestriksjonTekst15000Tegn" />
  </xsd:simpleType>
  <xsd:simpleType name="RestriksjonTekst15000Tegn" seres:elementtype="Tegnrestriksjon" seres:guid="http://seres.no/guid/NKR/Tegnrestriksjon/RestriksjonTekst400Tegn/621114">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="15000" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Dato" seres:elementtype="Dataenkeltype" seres:guid="http://seres.no/guid/NKR/Dataenkeltype/Dato/616182">
    <xsd:restriction base="xsd:date" />
  </xsd:simpleType>
  <xsd:simpleType name="Alternativ" seres:elementtype="Dataenkeltype" seres:guid="http://seres.no/guid/NKR/Dataenkeltype/Alternativ/616180">
    <xsd:restriction base="xsd:boolean" />
  </xsd:simpleType>
  <xsd:simpleType name="Heltall" seres:elementtype="Dataenkeltype" seres:guid="http://seres.no/guid/NKR/Dataenkeltype/Heltall/616177">
    <xsd:restriction base="xsd:integer" />
  </xsd:simpleType>
  <xsd:simpleType name="Tall" seres:elementtype="Dataenkeltype" seres:guid="http://seres.no/guid/NKR/Dataenkeltype/Tall/616164">
    <xsd:restriction base="xsd:decimal" />
  </xsd:simpleType>
</xsd:schema>
