src/App/app-template-dotnet/src/App.IntegrationTests/Data/apps/tdd/dynamic-options-2/models/Flyttemelding.xsd

<?xml version="1.0"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="Flyttemelding" />
  <xsd:complexType name="FylkeKommune">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="Fylke" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="Kommune" nillable="true" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>