src/Altinn.Apps/AppTemplates/AspNet/App.IntegrationTests/Data/apps/nsm/klareringsportalen/models/epob.xsd

<xsd:schema xmlns:seres="http://seres.no/xsd/forvaltningsdata" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xsd:annotation>
    <xsd:documentation>
      <xsd:attribute name="XSLT-skriptnavn" fixed="SERES_XSD_GEN" />
      <xsd:attribute name="XSD-generatorversjon" fixed="2.0.23" />
      <xsd:attribute name="XSLT-prosessor" fixed="SAXON versjon 9.1.0.7" />
      <xsd:attribute name="generert" fixed="2020-12-16T19:35:54.961+01:00" />
      <xsd:attribute name="navneromprefix" fixed="http://seres.no/xsd" />
      <xsd:attribute name="namespace" fixed="http://seres.no/xsd/NSM/ePOB_M/2020" />
      <xsd:attribute name="meldingsnavn" fixed="melding" />
      <xsd:attribute name="domenenavn" fixed="NSM" />
      <xsd:attribute name="modellnavn" fixed="ePOB_M" />
      <xsd:attribute name="metamodellversjon" fixed="1.2" />
      <xsd:attribute name="guid" fixed="true" />
      <xsd:attribute name="orid" fixed="false" />
      <xsd:attribute name="nillable" fixed="true" />
      <xsd:attribute name="tillat-gjenbruk" fixed="true" />
      <xsd:attribute name="elementtype" fixed="true" />
      <xsd:attribute name="forvaltningsdata" fixed="true" />
      <xsd:attribute name="forvaltningsdata-navnerom" fixed="http://seres.no/xsd/forvaltningsdata" />
      <xsd:attribute name="saernorske-bokstaver-i-navn" fixed="false" />
      <xsd:attribute name="ft_guid_som_attributt" fixed="false" />
      <xsd:attribute name="sem-ref" fixed="false" />
      <xsd:attribute name="kodebibliotek" fixed="false" />
      <xsd:attribute name="spraak" fixed="" />
      <xsd:attribute name="XSD-variant" fixed="Altinn 1.3.2" />
    </xsd:documentation>
  </xsd:annotation>
  <xsd:element name="ePOB_M">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" maxOccurs="1" name="PersonInformasjon" type="Personalia" />
        <xsd:element minOccurs="0" maxOccurs="1" name="PersonRelasjoner" type="Relasjoner" />
        <xsd:element minOccurs="0" maxOccurs="1" name="Samboerellerektefelle" type="Samboerektefelle" />
        <xsd:element minOccurs="0" maxOccurs="1" name="PersonligOkonomi" type="OEkonomi" />
        <xsd:element minOccurs="0" maxOccurs="1" name="Straff" type="Strafferettslig" />
        <xsd:element minOccurs="0" maxOccurs="1" name="PersonRusmidler" type="Rusmidler" />
        <xsd:element minOccurs="0" maxOccurs="1" name="SikkerhetsOpplysninger" type="Sikkerhetsopplysninger" />
        <xsd:element minOccurs="0" maxOccurs="1" name="StatsTilknytning" type="Statstilknytning" />
        <xsd:element minOccurs="0" maxOccurs="1" name="HelsePerson" type="Helse" />
        <xsd:element minOccurs="0" maxOccurs="20" name="HistorikkBostederUtland" type="Bostedhistorikkutland" />
        <xsd:element minOccurs="0" maxOccurs="20" name="HistorikkBostederEU" type="Bostedhistorikkeu" />
        <xsd:element minOccurs="0" maxOccurs="30" name="ArbeidsErfaring" type="Arbeidserfaringer" />
        <xsd:element minOccurs="0" maxOccurs="10" name="TidligereNavn" type="Person" />
        <xsd:element name="FlereGjeldendeStatsborgerskap" type="Statsborgerskap" maxOccurs="10" minOccurs="0" />
        <xsd:element name="TidligereStatsborgerskap" type="Statsborgerskap" maxOccurs="10" minOccurs="0" />
        <xsd:element minOccurs="0" maxOccurs="1" name="DeusRequest" type="Deusrequest" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="Samboerektefelle">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="1" name="hattsamboerstatsborgerandreland" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="hattoppholdutland" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="hattoppholdeos" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="samboerperson" type="Person" />
      <xsd:element minOccurs="0" maxOccurs="1" name="naavaerendestatsborgerskap" type="Statsborgerskap" />
      <xsd:element name="FlereStatsborgerskap" type="Statsborgerskap" maxOccurs="10" minOccurs="0" />
      <xsd:element name="TidligereStatsborgerskap" type="Statsborgerskap" maxOccurs="10" minOccurs="0" />
      <xsd:element minOccurs="0" maxOccurs="20" name="SamboerEktefelleBostederUtland" type="Bostedhistorikkutland" />
      <xsd:element minOccurs="0" maxOccurs="20" name="SamboerEktefelleBostederEU" type="Bostedhistorikkeu" />
      <xsd:element minOccurs="0" maxOccurs="20" name="BostederUtland" type="Bostedhistorikkutland" />
      <xsd:element minOccurs="0" maxOccurs="20" name="BostederEU" type="Bostedhistorikkeu" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Relasjoner">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="10" name="barn" type="Person" />
      <xsd:element minOccurs="0" maxOccurs="1" name="far" type="Person" />
      <xsd:element minOccurs="0" maxOccurs="1" name="mor" type="Person" />
      <xsd:element minOccurs="0" maxOccurs="20" name="sosken" type="Person" />
      <xsd:element minOccurs="0" maxOccurs="1" name="fodtannetlandmor" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="fodtannetlandfar" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="30" name="persontilknytning" type="Naerstaaende" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Naerstaaende">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="1" name="personinfo" type="Person" />
      <xsd:element minOccurs="0" maxOccurs="1" name="harinvesteringerutland" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="bosattutland" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="harblittstrattet" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="harkontaktmedorgkrim" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="hartransaksjonutland" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="hatttjenesterutland" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="hattkontaktetterettning" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="relasjonmedperson" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Statstilknytning">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="1" name="hatttjenensterutland" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="hatttjenestemilitaere" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="militaertjenesteland" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="militaerfradato" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="militaertildato" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="militaerbeskrivelse" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="harstudertutland" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="hattkontaktetteretning" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="beskrivelseetterretning" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="20" name="tilknyttningstilfeller" type="Tilknytningtilfelle" />
      <xsd:element minOccurs="0" maxOccurs="20" name="utdanningssteder" type="Utdanningssted" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Utdanningssted">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="1" name="utdanningsted" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="land" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="fra" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="til" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Tilknytningtilfelle">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="1" name="beskrivelse" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="land" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="fra" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="til" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Personalia">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="1" name="bostedsadresse" type="Adresse" />
      <xsd:element minOccurs="0" maxOccurs="1" name="postadresse" type="Adresse" />
      <xsd:element minOccurs="0" maxOccurs="1" name="sivilstatus" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="prefiksnr" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="mobilnummer" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="epost" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="ishatttidligerenavn" type="xsd:boolean" />
      <xsd:element minOccurs="0" maxOccurs="1" name="hatttidligerenavn" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="hattandrepersonnummer" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="tidligerepersonnummer" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="andreiddokumenter" type="Iddokumenter" />
      <xsd:element minOccurs="0" maxOccurs="1" name="harandreiddokumenter" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="harpostadrsammesombosted" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="person" type="Person" />
      <xsd:element minOccurs="0" maxOccurs="1" name="harandrestatsborgerskap" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="hatttidligerestatsborgerskap" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="hattoppholdutland" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="hattoppholdeu" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="samtykkepersonkontroll" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Person">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="1" name="foedselsnummer" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="utenlandskfoedselsnummer" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="foedselsdato" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="kjoenn" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="personnavn" type="Personnavn" />
      <xsd:element minOccurs="0" maxOccurs="1" name="naavaandestatsborgerskap" type="Statsborgerskap" />
      <xsd:element minOccurs="0" maxOccurs="10" name="utenlandsadresse" type="Adresse" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Personnavn">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="1" name="fornavn" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="mellomnavn" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="etternavn" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="fulltnavn" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Adresse">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="1" name="adressebeskrivelse" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="postnummer" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="poststed" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="land" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Iddokumenter">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="1" name="typedokument" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="dokumentnr" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="land" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Strafferettslig">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="1" name="hattlovbruddnorge" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="beskrivelserefselse" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="hattrefselse" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="hattlovbruddutland" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="straffforholdnorge" type="Straffforhold" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="hattstraffutlandet" type="Straffforhold" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Straffforhold">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="1" name="aar" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="land" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="utfall" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="type" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="OEkonomi">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="1" name="hattprivatelaan" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="redegjorelseprivatelaan" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="hattmislighold" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="redegjorelsemislighold" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="hattpengespill" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="redegjorelsepengespill" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="30" name="investeringer" type="Investering" />
      <xsd:element minOccurs="0" maxOccurs="1" name="harinvesteringer" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="harmottattpenger" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="30" name="mottattpengerutland" type="Transaksjonutland" />
      <xsd:element minOccurs="0" maxOccurs="1" name="harsentpenger" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="30" name="sentpengerutland" type="Transaksjonutland" />
      <xsd:element minOccurs="0" maxOccurs="1" name="okonomiskesituasjon" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="okonomiskesituasjonbeskrivelse" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Investering">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="1" name="type" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="harinvestering" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="land" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Transaksjonutland">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="1" name="antallganger" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="opprinnelsepenger" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="anledning" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="belop" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Rusmidler">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="1" name="hattalkoholhendelser" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="beskrivelsereaksjonalkohol" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="hattdoping" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="hattalkoholreaksjoner" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="beskrivelsehendelseralkohol" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="beskrivelsenarkotika" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="beskrivelsedoping" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="hattbruktnarkotika" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="hattbehandlingrus" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="hattakan" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Sikkerhetsopplysninger">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="1" name="hattKontaktterror" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="hattkontaktkriminalitet" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="beskrivelsekrim" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="hattkontaktkrim" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="beskrivelsekontaktterror" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="harandreforhold" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="beskrivelseandreforhold" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Helse">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="1" name="hattsykdom" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="HelseUtredning" type="Helseutredning" />
      <xsd:element minOccurs="0" maxOccurs="1" name="hattvurderingsevne" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="utdypelsevurderingsevne" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="hattlegemidler" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="utdypelselegemidler" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Helseutredning">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="1" name="typebehandling" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="tidspunktbehandling" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="utdypelse" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Bostedhistorikkutland">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="1" name="land" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="startoppholdmnd" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="startoppholdaar" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="sluttoppholdmnd" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="sluttoppholdaar" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="adresse" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="postnr" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="poststed" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="bakgrunn" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="spesifikasjon" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Bostedhistorikkeu">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="1" name="land" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="spesifikasjon" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="bakgrunn" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="antallganger" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Statsborgerskap">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="1" name="fraDato" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="tilDato" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="passnr" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="fodested" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="fodeland" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="statsborgerfrafodsel" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="land" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Arbeidserfaringer">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="1" name="fraaar" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="tilaar" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="stilling" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="type" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="tildagsdato" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="arbeidssted" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="arbeidstedsland" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="selskap" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="selskapsland" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="skole" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="skolensland" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="arbeidsledigland" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="framaaned" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="tilmaaned" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Deusrequest">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="1" name="clearauthority" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="nationallevel" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="natolevel" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="personid" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="requestbusiness" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="requestid" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>