src/studio/src/designer/DataModeling.Tests/_TestData/Model/XmlSchema/Seres/SeresSimpleTypeRestrictions.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:seres="http://seres.no/xsd/forvaltningsdata">
  <xsd:annotation>
    <xsd:documentation>
      <xsd:attribute name="XSLT-skriptnavn" fixed="SERES_XSD_GEN" />
      <xsd:attribute name="XSD-generatorversjon" fixed="2.0.17" />
      <xsd:attribute name="XSLT-prosessor" fixed="SAXON versjon 9.1.0.7" />
      <xsd:attribute name="generert" fixed="2016-12-14T13:28:58.147+01:00" />
      <xsd:attribute name="navneromprefix" fixed="http://seres.no/xsd" />
      <xsd:attribute name="namespace" fixed="http://seres.no/xsd/altinn/test/basic" />
      <xsd:attribute name="meldingsnavn" fixed="melding" />
      <xsd:attribute name="domenenavn" fixed="altinn-test" />
      <xsd:attribute name="modellnavn" fixed="melding-modell" />
      <xsd:attribute name="metamodellversjon" fixed="1.2" />
      <xsd:attribute name="guid" fixed="true" />
      <xsd:attribute name="orid" fixed="false" />
      <xsd:attribute name="nillable" fixed="true" />
      <xsd:attribute name="tillat-gjenbruk" fixed="true" />
      <xsd:attribute name="elementtype" fixed="true" />
      <xsd:attribute name="forvaltningsdata" fixed="true" />
      <xsd:attribute name="forvaltningsdata-navnerom" fixed="http://seres.no/xsd/forvaltningsdata" />
      <xsd:attribute name="saernorske-bokstaver-i-navn" fixed="false" />
      <xsd:attribute name="ft_guid_som_attributt" fixed="false" />
      <xsd:attribute name="sem-ref" fixed="false" />
      <xsd:attribute name="kodebibliotek" fixed="false" />
      <xsd:attribute name="spraak" fixed="" />
      <xsd:attribute name="XSD-variant" fixed="Altinn 1.3.1" />
    </xsd:documentation>
  </xsd:annotation>
  <xsd:element name="melding">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="SeresValue" type="SeresType" />
        <xsd:element name="t1" type="stringMinMaxLengthRestrictions" />
        <xsd:element name="t2" type="stringLengthRestrictions" />
        <xsd:element name="t3" type="stringEnumRestrictions" />
        <xsd:element name="t4" type="stringPatternRestrictions" />
        <xsd:element name="n1" type="numberRestrictions" />
        <xsd:element name="n2" type="numberRestrictions2" />
        <xsd:element name="f1" type="numberRestrictionsFractional0" />
        <xsd:element name="f2" type="numberRestrictionsFractional1" />
        <xsd:element name="f3" type="numberRestrictionsFractional2" />
        <xsd:element name="f4" type="numberRestrictionsFractional3" />
        <xsd:element name="f5" type="numberRestrictionsFractional4" />
        <xsd:element name="f6" type="numberRestrictionsFractional5" />
        <xsd:element name="c0" type="complexStructure" minOccurs="0" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:simpleType name="SeresType" seres:elementtype="Datakodeliste" seres:guid="http://seres.no/guid/Kursdomene/Datakodeliste/GeekType/784953">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="frontend" seres:elementtype="Datakodeelement" seres:guid="http://seres.no/guid/Kursdomene/Datakodeelement/frontend/784952"/>
      <xsd:enumeration value="backend" seres:elementtype="Datakodeelement" seres:guid="http://seres.no/guid/Kursdomene/Datakodeelement/backend/784951"/>
      <xsd:enumeration value="other" seres:elementtype="Datakodeelement" seres:guid="http://seres.no/guid/Kursdomene/Datakodeelement/other/784950"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="simpleString">
    <xsd:restriction base="xsd:string" />
  </xsd:simpleType>
  <xsd:simpleType name="stringMinMaxLengthRestrictions">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="20" />
      <xsd:minLength value="5" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="stringLengthRestrictions">
    <xsd:restriction base="simpleString">
      <xsd:length value="10" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="stringEnumRestrictions">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="v1" />
      <xsd:enumeration value="v2" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="stringPatternRestrictions">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="^\d\.\d\.\d$" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="numberRestrictions">
    <xsd:restriction base="xsd:decimal">
      <xsd:totalDigits value="10" />
      <xsd:maxInclusive value="100" />
      <xsd:minInclusive value="-100" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="numberRestrictions2">
    <xsd:restriction base="xsd:decimal">
      <xsd:totalDigits value="10" />
      <xsd:maxExclusive value="100" />
      <xsd:minExclusive value="-100" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="numberRestrictionsFractional0">
    <xsd:restriction base="xsd:decimal">
      <xsd:fractionDigits value="0" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="numberRestrictionsFractional1">
    <xsd:restriction base="xsd:decimal">
      <xsd:fractionDigits value="1" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="numberRestrictionsFractional2">
    <xsd:restriction base="xsd:decimal">
      <xsd:fractionDigits value="2" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="numberRestrictionsFractional3">
    <xsd:restriction base="xsd:decimal">
      <xsd:fractionDigits value="3" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="numberRestrictionsFractional4">
    <xsd:restriction base="xsd:decimal">
      <xsd:fractionDigits value="4" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="numberRestrictionsFractional5">
    <xsd:restriction base="xsd:decimal">
      <xsd:fractionDigits value="5" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="complexStructure">
    <xsd:restriction base="stringLengthRestrictions">
      <xsd:pattern value="^\d+$" />
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>
