src/test/apps/process-transition-test/App/models/TransitionControl.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:seres="http://seres.no/xsd/forvaltningsdata" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xs:annotation>
    <xs:documentation>
      <xsd:attribute name="rootNode" fixed="" />
    </xs:documentation>
  </xs:annotation>
  <xs:element name="TransitionControl">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="delayMs" type="xs:int" minOccurs="0" />
        <xs:element name="failCount" type="xs:int" minOccurs="0" />
        <xs:element name="failKind" type="xs:string" minOccurs="0" />
        <xs:element name="phase" type="xs:string" minOccurs="0" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xsd:schema>
