src/test/apps/frontend-test/App/models/likert.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <xsd:element name="melding" type="LikertSurvey" />
    <xsd:complexType name="LikertSurvey">
        <xsd:sequence>
            <xsd:element name="Questions" type="Question" maxOccurs="unbounded" />
        </xsd:sequence>
        <xsd:anyAttribute />
    </xsd:complexType>
    <xsd:complexType name="Question">
        <xsd:sequence>
            <xsd:element name="Id" type="Text" />
            <xsd:element name="Answer" type="Text" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType name="Text">
        <xsd:restriction base="xsd:string" />
    </xsd:simpleType>
</xsd:schema>