src/AltinnCore/Templates/bpmn-diagram-example.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema xmlns:bpmndi="http://www.omg.org/spec/BPMN/20100524/DI" xmlns:altinn="http://altinn" xmlns:di="http://www.omg.org/spec/DD/20100524/DI" xmlns:dc="http://www.omg.org/spec/DD/20100524/DC" xmlns:bpmn2="http://www.omg.org/spec/BPMN/20100524/MODEL" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tjeneste="http://tjeneste" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.omg.org/spec/BPMN/20100524/MODEL" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="schema1.xsd" namespace="http://altinn" />
  <xs:import schemaLocation="schema2.xsd" namespace="http://tjeneste" />
  <xs:import schemaLocation="schema3.xsd" namespace="http://www.omg.org/spec/BPMN/20100524/DI" />
  <xs:element name="definitions">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="process">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="startEvent">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="outgoing" type="xs:string" />
                  </xs:sequence>
                  <xs:attribute name="id" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element maxOccurs="unbounded" name="task">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="incoming" type="xs:string" />
                    <xs:element name="outgoing" type="xs:string" />
                  </xs:sequence>
                  <xs:attribute name="id" type="xs:string" use="required" />
                  <xs:attribute name="name" type="xs:string" use="required" />
                  <xs:attribute ref="altinn:steptype" use="required" />
                  <xs:attribute ref="altinn:egenskap1" use="optional" />
                  <xs:attribute ref="altinn:egenskap2" use="optional" />
                  <xs:attribute ref="tjeneste:egenskap1" use="optional" />
                  <xs:attribute ref="tjeneste:egenskap2" use="optional" />
                </xs:complexType>
              </xs:element>
              <xs:element name="endEvent">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="incoming" type="xs:string" />
                  </xs:sequence>
                  <xs:attribute name="id" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element maxOccurs="unbounded" name="sequenceFlow">
                <xs:complexType>
                  <xs:attribute name="id" type="xs:string" use="required" />
                  <xs:attribute name="sourceRef" type="xs:string" use="required" />
                  <xs:attribute name="targetRef" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="id" type="xs:string" use="required" />
            <xs:attribute name="isExecutable" type="xs:boolean" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element ref="bpmndi:BPMNDiagram" />
      </xs:sequence>
      <xs:attribute name="id" type="xs:string" use="required" />
      <xs:attribute name="targetNamespace" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>