src/studio/src/designer/backend.Tests/_TestData/Model/Xsd/Brønnøysundregistrene_ReelleRettighetshavere_M_2021-11-22_6900_46864_SERES.xsd

<xsd:schema xmlns:seres="http://seres.no/xsd/forvaltningsdata" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xsd:annotation>
    <xsd:documentation>
      <xsd:attribute name="XSLT-skriptnavn" fixed="SERES_XSD_GEN" />
      <xsd:attribute name="XSD-generatorversjon" fixed="2.0.23" />
      <xsd:attribute name="XSLT-prosessor" fixed="SAXON versjon 9.1.0.7" />
      <xsd:attribute name="generert" fixed="2021-11-22T10:42:07.917+01:00" />
      <xsd:attribute name="navneromprefix" fixed="http://seres.no/xsd" />
      <xsd:attribute name="namespace" fixed="http://seres.no/xsd/Broennoeysundregistrene/ReelleRettighetshavere_M/2021" />
      <xsd:attribute name="meldingsnavn" fixed="melding" />
      <xsd:attribute name="domenenavn" fixed="Broennoeysundregistrene" />
      <xsd:attribute name="modellnavn" fixed="ReelleRettighetshavere_M" />
      <xsd:attribute name="metamodellversjon" fixed="1.2" />
      <xsd:attribute name="guid" fixed="true" />
      <xsd:attribute name="orid" fixed="false" />
      <xsd:attribute name="nillable" fixed="true" />
      <xsd:attribute name="tillat-gjenbruk" fixed="true" />
      <xsd:attribute name="elementtype" fixed="true" />
      <xsd:attribute name="forvaltningsdata" fixed="true" />
      <xsd:attribute name="forvaltningsdata-navnerom" fixed="http://seres.no/xsd/forvaltningsdata" />
      <xsd:attribute name="saernorske-bokstaver-i-navn" fixed="false" />
      <xsd:attribute name="ft_guid_som_attributt" fixed="false" />
      <xsd:attribute name="sem-ref" fixed="false" />
      <xsd:attribute name="kodebibliotek" fixed="false" />
      <xsd:attribute name="spraak" fixed="" />
      <xsd:attribute name="XSD-variant" fixed="Altinn 1.3.2" />
    </xsd:documentation>
  </xsd:annotation>
  <xsd:element name="melding" type="ReelleRettighetshavere_M" />
  <xsd:complexType name="ReelleRettighetshavere_M" seres:elementtype="Meldingsmodell" seres:guid="http://seres.no/guid/Brønnøysundregistrene/Meldingsmodell/Relle rettighetshavere_M/779858">
    <xsd:sequence>
      <xsd:element name="Skjemainnhold" type="Skjemainnhold" seres:elementtype="Meldingsdel" seres:guid="http://seres.no/guid/Brønnøysundregistrene/Meldingsdel/InnrapporterteData/779856" />
    </xsd:sequence>
    <xsd:attribute name="dataFormatProvider" type="xsd:string" use="required" fixed="SERES" />
    <xsd:attribute name="dataFormatId" type="xsd:string" use="required" fixed="6900" />
    <xsd:attribute name="dataFormatVersion" type="xsd:string" use="required" fixed="46864" />
    <xsd:anyAttribute />
  </xsd:complexType>
  <xsd:complexType name="Skjemainnhold" seres:elementtype="Meldingsdel" seres:guid="http://seres.no/guid/Brønnøysundregistrene/Meldingsdel/InnrapporterteData/779856">
    <xsd:sequence>
      <xsd:element name="metadata" type="Metadata" seres:elementtype="Relasjonsegenskap" seres:guid="http://seres.no/guid/Brønnøysundregistrene/Relasjonsegenskap/metadata/784989" />
      <xsd:element name="reelleRettigheter" type="ReelleRettigheter" seres:elementtype="Relasjonsegenskap" seres:guid="http://seres.no/guid/Brønnøysundregistrene/Relasjonsegenskap/reelleRettigheter/779903" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Metadata" seres:elementtype="Dataobjekttype" seres:guid="http://seres.no/guid/Brønnøysundregistrene/Dataobjekttype/Metadata/784988">
    <xsd:sequence>
      <xsd:element name="tjeneste" type="Tekst" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/Brønnøysundregistrene/Dataegenskap/tjeneste/784987" />
      <xsd:element name="tjenestehandling" type="Tekst" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/Brønnøysundregistrene/Dataegenskap/tjenestehandling/784986" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ReelleRettigheter" seres:elementtype="Dataobjekttype" seres:guid="http://seres.no/guid/Brønnøysundregistrene/Dataobjekttype/ReelleRettigheter/779896">
    <xsd:sequence>
      <xsd:element name="rettighetId" type="Tekst" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/Brønnøysundregistrene/Dataegenskap/rettighetId/784985" />
      <xsd:element name="rettighetDataId" type="Tekst" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/Brønnøysundregistrene/Dataegenskap/rettighetDataId/784984" />
      <xsd:element name="endretDato" type="Tekst" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/Brønnøysundregistrene/Dataegenskap/endretDato/784983" />
      <xsd:element name="status" type="Tekst" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/Brønnøysundregistrene/Dataegenskap/status/784982" />
      <xsd:element name="registreringspliktig" type="Registreringspliktig" seres:elementtype="Relasjonsegenskap" seres:guid="http://seres.no/guid/Brønnøysundregistrene/Relasjonsegenskap/registreringspliktig/780352" />
      <xsd:element name="statusReelleRettighetshavere" type="Tekst" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/Brønnøysundregistrene/Dataegenskap/harIkkeReelleRettighetshavere/779895" />
      <xsd:element name="kontrollererJuridiskPersonOver75" type="Alternativ" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/Brønnøysundregistrene/Dataegenskap/kontrollererJuridiskPersonOver75/787707" />
      <xsd:element name="erJuridiskPersonUtenlandskVirksomhet" type="Alternativ" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/Brønnøysundregistrene/Dataegenskap/erJuridiskPersonUtenlandskVirksomhet/787706" />
      <xsd:element name="kanIkkeIdentifisereFlereReelleRettighetshavere" type="Alternativ" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/Brønnøysundregistrene/Dataegenskap/kanIkkeIdentifisereFlereReelleRettighetshavere/784981" />
      <xsd:element name="reellRettighetshaver" type="ReellRettighetshaver" nillable="true" minOccurs="0" maxOccurs="unbounded" seres:elementtype="Relasjonsegenskap" seres:guid="http://seres.no/guid/Brønnøysundregistrene/Relasjonsegenskap/reell rettighetshaver/779902" />
      <xsd:element name="rolleinnehaver" type="Rolleinnehaver" nillable="true" minOccurs="0" maxOccurs="unbounded" seres:elementtype="Relasjonsegenskap" seres:guid="http://seres.no/guid/Brønnøysundregistrene/Relasjonsegenskap/rolleinnehaver/780382" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Registreringspliktig" seres:elementtype="Dataobjekttype" seres:guid="http://seres.no/guid/Brønnøysundregistrene/Dataobjekttype/Registreringspliktig/779862">
    <xsd:sequence>
      <xsd:element name="organisasjonsnummer" type="Tekst" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/Brønnøysundregistrene/Dataegenskap/organisasjonsnummer/779860" />
      <xsd:element name="navn" type="Tekst" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/Brønnøysundregistrene/Dataegenskap/navn/779861" />
      <xsd:element name="organisasjonsform" type="Tekst" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/Brønnøysundregistrene/Dataegenskap/organisasjonsform/779882" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ReellRettighetshaver" seres:elementtype="Dataobjekttype" seres:guid="http://seres.no/guid/Brønnøysundregistrene/Dataobjekttype/ReellRettighetshaver/780356">
    <xsd:sequence>
      <xsd:element name="fodselsnummer" type="Tekst" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/Brønnøysundregistrene/Dataegenskap/fodselsnummer/787705" />
      <xsd:element name="fodselsdato" type="Dato" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/Brønnøysundregistrene/Dataegenskap/fodselsdato/780367" />
      <xsd:element name="navn" type="Tekst" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/Brønnøysundregistrene/Dataegenskap/navn/780371" />
      <xsd:element name="statsborgerskap" type="Tekst" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/Brønnøysundregistrene/Dataegenskap/statsborgerskap/780370" />
      <xsd:element name="bostedsland" type="Tekst" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/Brønnøysundregistrene/Dataegenskap/bostedsland/780369" />
      <xsd:element name="posisjonEier" type="Tekst" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/Brønnøysundregistrene/Dataegenskap/posisjonEier/787722" />
      <xsd:element name="posisjonEierStorrelseIntervall" type="Tekst" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/Brønnøysundregistrene/Dataegenskap/posisjonEierStorrelseIntervall/787721" />
      <xsd:element name="posisjonEierGrunnlag" type="Tekst" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/Brønnøysundregistrene/Dataegenskap/posisjonEierGrunnlag/787720" />
      <xsd:element name="posisjonEierGrunnlagBeskrivelseAnnenMate" type="Tekst" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/Brønnøysundregistrene/Dataegenskap/posisjonEierGrunnlagBeskrivelseAnnenMate/787719" />
      <xsd:element name="posisjonKont" type="Tekst" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/Brønnøysundregistrene/Dataegenskap/posisjonKont/787718" />
      <xsd:element name="posisjonKontStorrelseIntervall" type="Tekst" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/Brønnøysundregistrene/Dataegenskap/posisjonKontStorrelseIntervall/787717" />
      <xsd:element name="posisjonKontGrunnlag" type="Tekst" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/Brønnøysundregistrene/Dataegenskap//787716" />
      <xsd:element name="posisjonKontGrunnlagBeskrivelseAnnenMate" type="Tekst" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/Brønnøysundregistrene/Dataegenskap//787715" />
      <xsd:element name="posisjonRuas" type="Tekst" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/Brønnøysundregistrene/Dataegenskap//787714" />
      <xsd:element name="posisjonRuasGrunnlag" type="Tekst" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/Brønnøysundregistrene/Dataegenskap//787713" />
      <xsd:element name="posisjonRuasGrunnlagBeskrivelseAnnenMate" type="Tekst" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/Brønnøysundregistrene/Dataegenskap//787712" />
      <xsd:element name="posisjonAnne" type="Tekst" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/Brønnøysundregistrene/Dataegenskap//787711" />
      <xsd:element name="posisjonAnneBeskrivelseAnnenMate" type="Tekst" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/Brønnøysundregistrene/Dataegenskap//787710" />
      <xsd:element name="posisjonAnneGrunnlag" type="Tekst" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/Brønnøysundregistrene/Dataegenskap//787709" />
      <xsd:element name="posisjonAnneGrunnlagBeskrivelseAnnenMate" type="Tekst" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/Brønnøysundregistrene/Dataegenskap//787708" />
      <xsd:element name="posisjonBeskrivelse" type="Tekst" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/Brønnøysundregistrene/Dataegenskap/posisjonBeskrivelse/787970" />
      <xsd:element name="grunnlagBeskrivelse" type="Tekst" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/Brønnøysundregistrene/Dataegenskap/grunnlagBeskrivelse/787971" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Rolleinnehaver" seres:elementtype="Dataobjekttype" seres:guid="http://seres.no/guid/Brønnøysundregistrene/Dataobjekttype/Rolleinnehaver/780384">
    <xsd:sequence>
      <xsd:element name="fodselsdato" type="Dato" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/Brønnøysundregistrene/Dataegenskap/fodselsnummer/780380" />
      <xsd:element name="navn" type="Tekst" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/Brønnøysundregistrene/Dataegenskap/navn/780379" />
      <xsd:element name="rolle" type="Tekst" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/Brønnøysundregistrene/Dataegenskap/rolle/780378" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="Tekst" seres:elementtype="Dataenkeltype" seres:guid="http://seres.no/guid/Brønnøysundregistrene/Dataenkeltype/Tekst/5731">
    <xsd:restriction base="xsd:string" />
  </xsd:simpleType>
  <xsd:simpleType name="Alternativ" seres:elementtype="Dataenkeltype" seres:guid="http://seres.no/guid/Brønnøysundregistrene/Dataenkeltype/Alternativ/5741">
    <xsd:restriction base="xsd:boolean" />
  </xsd:simpleType>
  <xsd:simpleType name="Dato" seres:elementtype="Dataenkeltype" seres:guid="http://seres.no/guid/Brønnøysundregistrene/Dataenkeltype/Dato/5730">
    <xsd:restriction base="xsd:date" />
  </xsd:simpleType>
</xsd:schema>