src/studio/src/designer/backend.Tests/_TestData/Model/Xsd/restriction-total-digits.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="TotalDigitsTest">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Name" />
        <xs:element ref="Value" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Name">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="RestrictedText" />
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="RestrictedText">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="20" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Value">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="RestrictedInt" />
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="RestrictedInt">
    <xs:restriction base="xs:integer">
      <xs:totalDigits value="20" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
