src/studio/src/designer-tmp/UnitTest/Common/xsd/motorvognavgift-v4.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="ske:fastsetting:motorvogn:motorvognavgift:v4" xmlns:skatt="http://www.skatteetaten.no/xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="ske:fastsetting:motorvogn:motorvognavgift:v4">
    <xsd:annotation>
        <xsd:documentation>
            <xsd:attribute fixed="2018-12-13T15:56:25.586+0100" name="generertDato"/>
            <xsd:attribute fixed="v4" name="versjon"/>
            <xsd:attribute fixed="" name="beskrivelse"/>
            <xsd:attribute fixed="Motorvognavgift" name="modellnavn"/>
            <xsd:attribute fixed="ske:fastsetting:motorvogn:motorvognavgift:v4" name="navnerom"/>
            <xsd:attribute fixed="true" name="begrepsreferanse"/>
            <xsd:attribute fixed="true" name="dokumentasjon"/>
            <xsd:attribute fixed="false" name="nillable"/>
            <xsd:attribute fixed="false" name="modellelement"/>
        </xsd:documentation>
    </xsd:annotation>
    <xsd:element name="motorvognavgift" type="Motorvognavgift"/>
    <xsd:complexType name="Motorvognavgift">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" name="avgiftslinje" type="Avgiftslinje"/>
            <xsd:element name="betalingsinformasjon" type="Betalingsinformasjon"/>
            <xsd:element name="motorvognavgiftstype" type="Motorvognavgiftstype"/>
            <xsd:element name="tidsstempel" type="Dato"/>
            <xsd:element minOccurs="0" name="grunnlagForMotorvognavgift" type="GrunnlagForMotorvognavgift"/>
            <xsd:element minOccurs="0" name="saksbehandler" type="Saksbehandler"/>
            <xsd:element name="avgiftspliktig" type="Part"/>
            <xsd:element minOccurs="0" name="engangsavgiftsberegning" type="Engangsavgiftsberegning"/>
            <xsd:element minOccurs="0" name="vedtaksdato" type="Dato"/>
            <xsd:element minOccurs="0" name="aarsakTilFastsetting" type="Tekst"/>
            <xsd:element name="forhaandsberegning" type="Boolsk"/>
            <xsd:element minOccurs="0" name="arkivreferanse" type="Identifikator"/>
            <xsd:element minOccurs="0" name="vrakinformasjon" type="Vrak"/>
            <xsd:element minOccurs="0" name="ekspedisjonsOgLoepenummer" type="Ekspedisjonsidentifikator"/>
            <xsd:element minOccurs="0" name="attestertAv" type="Tekst"/>
            <xsd:element minOccurs="0" name="budsjettdisponertAv" type="Tekst"/>
            <xsd:element minOccurs="0" name="avsavnsrenter" type="BeregnedeAvsavnsrenter"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="klausul" type="Klausul"/>
            <xsd:element minOccurs="0" name="vektaarsavgiftsperiode" type="Datoperiode"/>
            <xsd:element minOccurs="0" name="betalingsinformasjonTilleggsskatt" type="Betalingsinformasjon"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Aldersfradrag">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="ordinaertBruksfradrag" type="OrdinaertBruksfradrag"/>
            <xsd:element minOccurs="0" name="alternativtBruksfradrag" type="AlternativtBruksfradrag"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Avgiftsdeler">
        <xsd:sequence>
            <xsd:element name="noxutslipp" type="Avgiftsdel">
                <xsd:annotation>
                    <xsd:documentation>NOx-utslipp</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="co2utslipp" type="Avgiftsdel">
                <xsd:annotation>
                    <xsd:documentation>CO2-utslipp i gram/kilometer (om det er kjent).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="egenvekt" type="Avgiftsdel">
                <xsd:annotation>
                    <xsd:documentation>Egenvekt</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="motoreffekt" type="Avgiftsdel">
                <xsd:annotation>
                    <xsd:documentation>Motoreffekt.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="slagvolum" type="Avgiftsdel">
                <xsd:annotation>
                    <xsd:documentation>Slagvolum</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="fastdel" type="Avgiftsdel">
                <xsd:annotation>
                    <xsd:documentation>Slagvolum</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="verdiavgift" type="Avgiftsdel"/>
            <xsd:element name="sumAvgiftsdelerUtenFradrag" type="Beloep"/>
            <xsd:element name="sumAvgiftsdelerMedFradrag" type="Beloep"/>
            <xsd:element name="sumAldersfradrag" type="Beloep"/>
            <xsd:element name="sumKronefradrag" type="Beloep"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Avgiftslinje">
        <xsd:sequence>
            <xsd:choice>
            
                    <xsd:element name="avgiftsdato" type="Dato"/>
  
       
                    <xsd:element name="avgiftsperiode" type="Datoperiode"/>
  
            </xsd:choice>
            <xsd:element name="avgiftsbeloep" type="Beloep"/>
            <xsd:element name="avgiftsopplysning" type="Avgiftsopplysning"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Avgiftsopplysning">
        <xsd:sequence>
            <xsd:element name="saeravgiftTypekode" type="SaeravgiftTypekode"/>
            <xsd:element name="saeravgiftGruppekode" type="SaeravgiftGruppekode"/>
            <xsd:element minOccurs="0" name="sats" type="Satsopplysning"/>
            <xsd:element minOccurs="0" name="tittelAvgiftstype" type="Tekst"/>
            <xsd:element minOccurs="0" name="tittelAvgiftsgruppe" type="Tekst"/>
            <xsd:element minOccurs="0" name="differensiering" type="Avgiftsopplysningsdifferensiering"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="BeregnedeAvsavnsrenter">
        <xsd:sequence>
            <xsd:element name="samlede11-2-renter" type="BeloepSomHeltall"/>
            <xsd:element name="samlede11-4-renter" type="BeloepSomHeltall"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="rentelinje" type="Rentelinje"/>
            <xsd:element name="manueltBeregnet" type="Boolsk"/>
            <xsd:element minOccurs="0" name="inngitteStipulerte11-1-renter" type="BeloepSomHeltall"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Betalingsinformasjon">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="kidnummer" type="Kundeidentifikasjon"/>
            <xsd:element minOccurs="0" name="forfallsdato" type="Dato"/>
            <xsd:element minOccurs="0" name="fakturadato" type="Dato"/>
            <xsd:element minOccurs="0" name="kontonummer" type="NorskKontonummer"/>
            <xsd:element name="totalAvgiftsbeloep" type="Beloep"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Engangsavgiftsberegning">
        <xsd:sequence>
            <xsd:element name="avgiftsdeler" type="Avgiftsdeler"/>
            <xsd:element minOccurs="0" name="vrakpantavgift" type="Vrakpantavgift"/>
            <xsd:element name="sumFradrag" type="Beloep"/>
            <xsd:element minOccurs="0" name="aldersfradrag" type="Aldersfradrag"/>
            <xsd:element minOccurs="0" name="kronefradrag" type="Kronefradrag"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="GrunnlagForMotorvognavgift">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="fritakFraMotorvognavgift" type="FritakFraMotorvognavgift"/>
            <xsd:element minOccurs="0" name="kjoeringensArt" type="Tekst"/>
            <xsd:element name="kjoeretoey" type="Kjoeretoey"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Kjoeretoey">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="eierskapRegistrert" type="Dato"/>
            <xsd:element minOccurs="0" name="registrertPaaEier" type="Dato"/>
            <xsd:element minOccurs="0" name="salgsdato" type="Dato"/>
            <xsd:element minOccurs="0" name="avskiltingsdato" type="Dato"/>
            <xsd:element minOccurs="0" name="datoStjaalet" type="Dato"/>
            <xsd:element minOccurs="0" name="foersteRegistreringsaar" type="Aarstall"/>
            <xsd:element minOccurs="0" name="foersteRegistreringsdatoINorge" type="Dato"/>
            <xsd:element minOccurs="0" name="foersteRegistreringsdatoUtland" type="Dato">
                <xsd:annotation>
                    <xsd:documentation>Eventuelt dato for førstegangsregistreing i utlandet. Benyttes for bruktimporterte kjøretøy.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="kjoeretoeygruppe" type="Kjoeretoeygruppe">
                <xsd:annotation>
                    <xsd:documentation>Nasjonal kode for kjøretøygruppe</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="skiltfarge" type="Heltall">
                <xsd:annotation>
                    <xsd:documentation>Kjennemerke farge (kode). Verdien 0 tolkes som hvite.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="tekniskUnderkode" type="Tekst">
                <xsd:annotation>
                    <xsd:documentation>Teknisk underkode (Autosys-kode).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="tekniskKjoeretoeygruppeEu" type="Tekst">
                <xsd:annotation>
                    <xsd:documentation>Teknisk kjøretøykode (EU-kode).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="brukskode" type="Tekst">
                <xsd:annotation>
                    <xsd:documentation>Brukskode</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="typegodkjenningsnummer" type="Tekst"/>
            <xsd:element minOccurs="0" name="fabrikatnavn" type="Tekst"/>
            <xsd:element minOccurs="0" name="modellOgType" type="Tekst"/>
            <xsd:element minOccurs="0" name="norskprodusert" type="JaNeiVetIkke"/>
            <xsd:element minOccurs="0" name="fargekode" type="Heltall"/>
            <xsd:element minOccurs="0" name="hoeydeICentimeter" type="Heltall"/>
            <xsd:element minOccurs="0" name="lengde" type="Heltall">
                <xsd:annotation>
                    <xsd:documentation>Måleenhet i cm</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="karosseritype" type="Tekst"/>
            <xsd:element minOccurs="0" name="girkasse" type="Tekst"/>
            <xsd:element minOccurs="0" name="motoreffekt" type="Desimaltall">
                <xsd:annotation>
                    <xsd:documentation>Motoreffekt.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="slagvolum" type="Heltall">
                <xsd:annotation>
                    <xsd:documentation>Slagvolum</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="drivstoff" type="Tekst">
                <xsd:annotation>
                    <xsd:documentation>Kode for drivstoff. Kommer ikke på tilhengere.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="egenvekt" type="Heltall">
                <xsd:annotation>
                    <xsd:documentation>Egenvekt</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="avgiftsvekt" type="Heltall">
                <xsd:annotation>
                    <xsd:documentation>Nedskrevet avgiftsvekt. Kun utfylt hvis vekt er nedskrevet, ellers nuller.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="eier" type="Part"/>
            <xsd:element minOccurs="0" name="tillattTotalvekt" type="Heltall">
                <xsd:annotation>
                    <xsd:documentation>Angir tillatt totalvekt.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="registrertEier" type="Part"/>
            <xsd:element minOccurs="0" name="forrigeEier" type="Part"/>
            <xsd:element minOccurs="0" name="forrigeRegistrerteEier" type="Part"/>
            <xsd:element minOccurs="0" name="medeier" type="Part"/>
            <xsd:element minOccurs="0" name="leietaker" type="Part"/>
            <xsd:element minOccurs="0" name="melder" type="Part"/>
            <xsd:element minOccurs="0" name="selger" type="Part"/>
            <xsd:element minOccurs="0" name="luftfjaering" type="JaNeiVetIkke">
                <xsd:annotation>
                    <xsd:documentation>Kode for luftfjæring på drivaksel. 1: ikke luft, 2: luft, '': Blank.
Blank tolkes som "ikke luft".</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="hybrid" type="Hybrid">
                <xsd:annotation>
                    <xsd:documentation>Angir hybrid-status for en bil fra AutoSys:
0: Nei (ikke hybrid)
1: Ja (hybrid)
9: Ukjent</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="kodeForEuroklassifisering" type="Tekst">
                <xsd:annotation>
                    <xsd:documentation>Kode for målkrav på samlet forurensende utslipp nye biler kan ha i EU.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="avgasskode" type="Tekst">
                <xsd:annotation>
                    <xsd:documentation>Avgasskode. Autosys har Eurokode som konverteres til bokstavkode for TAD.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="co2utslipp" type="Heltall">
                <xsd:annotation>
                    <xsd:documentation>CO2-utslipp i gram/kilometer (om det er kjent).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="noxutslipp" type="Desimaltall">
                <xsd:annotation>
                    <xsd:documentation>NOx-utslipp</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="partikkelfilter" type="ValgfriBoolsk">
                <xsd:annotation>
                    <xsd:documentation>PArtikkelfilter.
0: ukjent/ikke relevant
1: Nei
2: Ja</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="antallAkslerTrekkvogn" type="Heltall">
                <xsd:annotation>
                    <xsd:documentation>For vogntog vil dette være antall aksler på trekkvogn. I alle andre tilfeller vil dette være antall aksler på kjøretøyet. Dvs. at hengere som ikke er medregnet i vogntog også lagrer antall aksler i dette tilfellet.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="antallAkslerTilhenger" type="Heltall"/>
            <xsd:element minOccurs="0" name="avgiftsvektTilhenger" type="Heltall">
                <xsd:annotation>
                    <xsd:documentation>Avgiftsgrunnlag for kjøretøyets tilhenger. Dvs. totalvekten på den tyngste hengeren kjøretøyet skal kunne trekke. Måleenhet i kg.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="kilometerstand" type="Heltall">
                <xsd:annotation>
                    <xsd:documentation>KM-stand på brukt importerte kjøretøy.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="datoForKilometerstand" type="Dato"/>
            <xsd:element minOccurs="0" name="sistOppdatert" type="Dato">
                <xsd:annotation>
                    <xsd:documentation>Eventuell dato for stjålet kjøretøy. Feltet har ikke verdi i dagens løsning.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="periodiskKjoeretoeykontrollGodkjent" type="Dato"/>
            <xsd:element minOccurs="0" name="oppdatertAvKilde" type="Tekst"/>
            <xsd:element minOccurs="0" name="oppdatertAvBeskrivelse" type="Tekst"/>
            <xsd:element minOccurs="0" name="registrertMedeier" type="Part"/>
            <xsd:element minOccurs="0" name="forrigeOmregistreringsdato" type="Dato"/>
            <xsd:element name="kjoeretoeyidentifikator" type="Kjoeretoeyidentifikator"/>
            <xsd:element minOccurs="0" name="forrigeMedeier" type="Part"/>
            <xsd:element minOccurs="0" name="forrigeRegistrerteMedeier" type="Part"/>
            <xsd:element minOccurs="0" name="vrakdato" type="Dato"/>
            <xsd:element minOccurs="0" name="elektriskRekkevidde" type="ElektriskRekkevidde"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Saksbehandler">
        <xsd:sequence>
            <xsd:element name="brukeridentifikator" type="Identifikator"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Vrak">
        <xsd:sequence>
            <xsd:element name="organisasjonsnummerOppsamlingsplass" type="Organisasjonsnummer"/>
            <xsd:element name="organisasjonsnavn" type="Navn"/>
            <xsd:element name="vrakmeldingsnummer" type="Identifikator"/>
            <xsd:element minOccurs="0" name="beliggenhetsadresse" type="Adresse"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Adresse">
        <xsd:sequence>
            <xsd:element name="adressenavnNummer" type="Tekst"/>
            <xsd:element name="poststed" type="Poststed"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="AlternativtBruksfradrag">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="kilometerstand" type="Heltall"/>
            <xsd:element minOccurs="0" name="nybilpris" type="Heltall"/>
            <xsd:element minOccurs="0" name="bruktbilpris" type="Heltall"/>
            <xsd:element minOccurs="0" name="gjennomsnittligAntallKilometer" type="Heltall"/>
            <xsd:element minOccurs="0" name="forholdstall" type="Desimaltall"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Avgiftsdel">
        <xsd:sequence>
            <xsd:element name="referanseavgiftsgruppe" type="Tekst"/>
            <xsd:element name="referansebeloep" type="Beloep"/>
            <xsd:element name="prosentsats" type="Desimaltall"/>
            <xsd:element name="avgiftsbeloepUtenFradrag" type="Beloep"/>
            <xsd:element name="avgiftsbeloepMedFradrag" type="Beloep"/>
            <xsd:element minOccurs="0" name="bruksfradragsbeloep" type="Beloep"/>
            <xsd:element minOccurs="0" name="kronefradragsbeloep" type="Beloep"/>
            <xsd:element minOccurs="0" name="avgiftsgrunnlag" type="Desimaltall"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ElektriskRekkevidde">
        <xsd:sequence>
            <xsd:element name="rekkeviddeIKilometer" type="Heltall"/>
            <xsd:element minOccurs="0" name="kjoeresyklus" type="Tekst"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="FritakFraMotorvognavgift">
        <xsd:sequence>
            <xsd:choice>
                <xsd:sequence>
                    <xsd:element name="unntakskodeEngangsavgift" type="UnntakskodeEngangsavgift"/>
                </xsd:sequence>
                <xsd:sequence>
                    <xsd:element name="fritakskodeOmregistrering" type="FritakskodeOmregistrering"/>
                </xsd:sequence>
            </xsd:choice>
            <xsd:element minOccurs="0" name="fritaksbeskrivelse" type="Tekst"/>
            <xsd:element minOccurs="0" name="fritakskravOppfylt" type="ValgfriBoolsk"/>
            <xsd:element minOccurs="0" name="feil" type="Feil"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="fritaksreferanse" type="Fritaksreferanse"/>
            <xsd:element minOccurs="0" name="unntaksunderkodeEngangsavgift" type="UnntaksunderkodeEngangsavgift"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Fritaksreferanse">
        <xsd:sequence>
            <xsd:element name="referansetype" type="Tekst"/>
            <xsd:element name="referanseverdi" type="Tekst"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Klausul">
        <xsd:sequence>
            <xsd:element name="klausulaarsak" type="Tekst"/>
            <xsd:element minOccurs="0" name="fradato" type="Dato"/>
            <xsd:element minOccurs="0" name="klausulensLoepetidIDager" type="Antall"/>
            <xsd:element minOccurs="0" name="klausulhendelse" type="Tekst"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Kronefradrag">
        <xsd:sequence>
            <xsd:element name="avgiftGjeldendeAvgiftsgruppe" type="BeloepSomHeltall"/>
            <xsd:element name="avgiftAvgiftsgruppeA" type="BeloepSomHeltall"/>
            <xsd:element name="forholdsprosent" type="Prosent"/>
            <xsd:element name="fradragsgrunnlag" type="BeloepSomHeltall"/>
            <xsd:element name="justertFradrag" type="BeloepSomHeltall"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="OrdinaertBruksfradrag">
        <xsd:sequence>
            <xsd:element name="aar" type="Antall"/>
            <xsd:element name="maaneder" type="Antall"/>
            <xsd:element name="forholdsprosent" type="Prosent"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Vrakpantavgift">
        <xsd:sequence>
            <xsd:element name="vrakpant" type="BeloepSomHeltall"/>
            <xsd:element name="fratrekk" type="BeloepSomHeltall"/>
            <xsd:element name="sumVrakpant" type="BeloepSomHeltall"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType name="Avgiftsopplysningsdifferensiering">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="vektaarsavgiftVekt"/>
            <xsd:enumeration value="vektaarsavgiftMiljoe"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="FritakskodeOmregistrering">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="ikkeOmfattet"/>
            <xsd:enumeration value="feilregistrering"/>
            <xsd:enumeration value="ambassadekjoeretoey"/>
            <xsd:enumeration value="natokjoeretoey"/>
            <xsd:enumeration value="navneendring"/>
            <xsd:enumeration value="omregistreringMellomEktefeller"/>
            <xsd:enumeration value="arv"/>
            <xsd:enumeration value="utloddetKjoeretoey"/>
            <xsd:enumeration value="omregistreringInnenToMaaneder"/>
            <xsd:enumeration value="eldreKjoeretoey"/>
            <xsd:enumeration value="fusjonMellomAksjeselskap"/>
            <xsd:enumeration value="kjoeretoeyTilBrukPaaSvalbard"/>
            <xsd:enumeration value="dispensasjonFraSkatteetaten"/>
            <xsd:enumeration value="gjeninnfoersel"/>
            <xsd:enumeration value="denNorskeInvesteringsbanken"/>
            <xsd:enumeration value="ombytteEierOgMedeier"/>
            <xsd:enumeration value="slettingAvEierEllerMedeier"/>
            <xsd:enumeration value="omorganiseringAvSelskap"/>
            <xsd:enumeration value="hevingEllerOmlevering"/>
            <xsd:enumeration value="kjoeretoeygruppe"/>
            <xsd:enumeration skatt:begrepsreferanse="http://begrepskatalog/begrep/a0905c3d-dc5e-11e5-8127-d6d6eb145c82" value="elektriskKjoeretoey"/>
            <xsd:enumeration value="ikkeVurdert"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="Motorvognavgiftstype">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="omregistreringsavgift"/>
            <xsd:enumeration value="engangsavgift"/>
            <xsd:enumeration value="vektaarsavgift"/>
            <xsd:enumeration value="doegnavgift"/>
            <xsd:enumeration value="vrakpant"/>
            <xsd:enumeration value="driftstilskuddVraking"/>
            <xsd:enumeration value="tilleggsskatt"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="UnntakskodeEngangsavgift">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="ambassadekjoeretoey"/>
            <xsd:enumeration value="innfoertSomArv"/>
            <xsd:enumeration value="belteambulanse"/>
            <xsd:enumeration value="beltevognTilForsvaret"/>
            <xsd:enumeration value="begravelseskjoeretoey"/>
            <xsd:enumeration value="bussForInstitusjonForTransportAvFunksjonshemmede"/>
            <xsd:enumeration value="bussMedLoeyve"/>
            <xsd:enumeration value="spesialutrustetKjoeretoeyForBrannvesen"/>
            <xsd:enumeration value="elektriskDrevetKjoeretoey"/>
            <xsd:enumeration value="elektriskMotorsykkel"/>
            <xsd:enumeration value="lastebilMedTilfredsstillendeGodsromForRammekrav"/>
            <xsd:enumeration value="kjoeretoeyPaaBioetanol"/>
            <xsd:enumeration value="ikkeOmfattetAvEngangsavgift"/>
            <xsd:enumeration value="fritakFraEngangsavgiftVrakpantBetales"/>
            <xsd:enumeration value="fritakFraEngangsavgiftOgVrakpant"/>
            <xsd:enumeration value="kjoeretoeyMedHybriddrift"/>
            <xsd:enumeration value="kjoeretoeyMedKunHydrogendrift"/>
            <xsd:enumeration value="natokjoeretoey"/>
            <xsd:enumeration value="oppbygdMedVrakpant"/>
            <xsd:enumeration value="pansretKjoeretoeyTilOffentligBruk"/>
            <xsd:enumeration value="rallykjoeretoey"/>
            <xsd:enumeration value="rallymotorsykkel"/>
            <xsd:enumeration value="kjoeretoeyRegistrertForSvalbard"/>
            <xsd:enumeration value="ambulanse"/>
            <xsd:enumeration value="motorsykkelEllerBeltemotorsykkelTilBrukIReindriftnaeringen"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="UnntaksunderkodeEngangsavgift">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="ladbar"/>
            <xsd:enumeration value="ikkeLadbar"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="Dato" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b52aed-9fe1-11e5-a9f8-e4115b280940">
        <xsd:annotation>
            <xsd:documentation>gir verdier for år, måned og dag. Kodes som en tekststreng etter datoformatering spesifisert i  ISO 8601 (ISO 8601:2004 Data elements and interchange formats -- Information interchange -- Representation of dates and times). 
Eksempel : 1998-12-21 eller 19981221. </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:date"/>
    </xsd:simpleType>
    <xsd:complexType name="Part">
        <xsd:sequence>
            <xsd:choice>
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="foedselsEllerDnummer" type="Foedselsnummer"/>
                </xsd:sequence>
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="organisasjonsnummer" type="Organisasjonsnummer"/>
                </xsd:sequence>
            </xsd:choice>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType name="Tekst" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b52af3-9fe1-11e5-a9f8-e4115b280940">
        <xsd:annotation>
            <xsd:documentation>vilkårlig lang sekvens av tegn inkludert aksenter og spesielle tegn fra standardiserte tegnsett 
</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="4000"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="Boolsk" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b52aec-9fe1-11e5-a9f8-e4115b280940">
        <xsd:annotation>
            <xsd:documentation>angir verdien sann eller usann</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:boolean"/>
    </xsd:simpleType>
    <xsd:simpleType name="Identifikator" skatt:begrepsreferanse="http://begrepskatalog/begrep/20b2e2f8-9fe1-11e5-a9f8-e4115b280940">
        <xsd:restriction base="Tekst"/>
    </xsd:simpleType>
    <xsd:complexType name="Ekspedisjonsidentifikator">
        <xsd:sequence>
            <xsd:element name="klokkenummer" type="Klokkenummer">
                <xsd:annotation>
                    <xsd:documentation>Angir hvilken "kasse" hos Toll som har behandlet tolldeklarasjonen</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="loepenummer" type="EkspedisjonLopenummer">
                <xsd:annotation>
                    <xsd:documentation>Unikt nummer per tolldeklarasjon</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Datoperiode">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="fradato" type="Dato"/>
            <xsd:element minOccurs="0" name="tildato" type="Dato"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType name="Desimaltall" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b52aef-9fe1-11e5-a9f8-e4115b280940">
        <xsd:annotation>
            <xsd:documentation>tall som er satt sammen av en heltallsdel og en fraksjondel [wikipedia] </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:decimal"/>
    </xsd:simpleType>
    <xsd:simpleType name="Beloep" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e146-9fe1-11e5-a9f8-e4115b280940">
        <xsd:annotation>
            <xsd:documentation>en sum av penger brukt i en kontekst. Dette kan være en transaksjon, saldo o.l. </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="Desimaltall"/>
    </xsd:simpleType>
    <xsd:simpleType name="SaeravgiftTypekode">
        <xsd:restriction base="Tekst"/>
    </xsd:simpleType>
    <xsd:simpleType name="SaeravgiftGruppekode">
        <xsd:restriction base="Tekst"/>
    </xsd:simpleType>
    <xsd:complexType name="Satsopplysning">
        <xsd:sequence>
            <xsd:element name="satsverdi" type="Desimaltall"/>
            <xsd:element name="satsenhet" type="Tekst"/>
            <xsd:element minOccurs="0" name="fradato" type="Dato"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType name="Heltall" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b52af0-9fe1-11e5-a9f8-e4115b280940">
        <xsd:annotation>
            <xsd:documentation>hele tall, dvs. hele tall i mengden {..., -2, -1, 0, 1, 2, ...}</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:long"/>
    </xsd:simpleType>
    <xsd:simpleType name="BeloepSomHeltall" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e146-9fe1-11e5-a9f8-e4115b280940">
        <xsd:annotation>
            <xsd:documentation>en sum av penger i hele kroner brukt i en kontekst. Dette kan være en transaksjon, saldo o.l. </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="Heltall"/>
    </xsd:simpleType>
    <xsd:complexType name="Rentelinje">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="hendelsesdato" type="Dato"/>
            <xsd:element name="grunnlag" type="BeloepSomHeltall"/>
            <xsd:element minOccurs="0" name="renter" type="Beloep"/>
            <xsd:element minOccurs="0" name="rentesats" type="Desimaltall"/>
            <xsd:element minOccurs="0" name="renteperiode" type="Datoperiode"/>
            <xsd:element minOccurs="0" name="hjemmel" type="Tekst"/>
            <xsd:element minOccurs="0" name="antallDager" type="Heltall"/>
            <xsd:element maxOccurs="unbounded" name="beskrivelse" type="Tekst"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType name="Kundeidentifikasjon">
        <xsd:restriction base="Tekst">
            <xsd:pattern value="(\d{2,25})|(\d{2,24}\-)"/>
            <xsd:minLength value="2"/>
            <xsd:maxLength value="25"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="NorskKontonummer">
        <xsd:restriction base="Tekst">
            <xsd:pattern value="[0-9]+"/>
            <xsd:length value="11"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="Aarstall" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e14a-9fe1-11e5-a9f8-e4115b280940">
        <xsd:annotation>
            <xsd:documentation>årstall er et tall som angir årets nummer i tidsregningen i den gregorianske kalender</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:gYear"/>
    </xsd:simpleType>
    <xsd:simpleType name="Kjoeretoeygruppe">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="101"/>
            <xsd:enumeration value="106"/>
            <xsd:enumeration value="107"/>
            <xsd:enumeration value="201"/>
            <xsd:enumeration value="210"/>
            <xsd:enumeration value="211"/>
            <xsd:enumeration value="212"/>
            <xsd:enumeration value="213"/>
            <xsd:enumeration value="214"/>
            <xsd:enumeration value="215"/>
            <xsd:enumeration value="301"/>
            <xsd:enumeration value="310"/>
            <xsd:enumeration value="311"/>
            <xsd:enumeration value="312"/>
            <xsd:enumeration value="313"/>
            <xsd:enumeration value="314"/>
            <xsd:enumeration value="315"/>
            <xsd:enumeration value="316"/>
            <xsd:enumeration value="320"/>
            <xsd:enumeration value="321"/>
            <xsd:enumeration value="323"/>
            <xsd:enumeration value="325"/>
            <xsd:enumeration value="330"/>
            <xsd:enumeration value="335"/>
            <xsd:enumeration value="336"/>
            <xsd:enumeration value="340"/>
            <xsd:enumeration value="350"/>
            <xsd:enumeration value="360"/>
            <xsd:enumeration value="361"/>
            <xsd:enumeration value="363"/>
            <xsd:enumeration value="365"/>
            <xsd:enumeration value="370"/>
            <xsd:enumeration value="375"/>
            <xsd:enumeration value="380"/>
            <xsd:enumeration value="381"/>
            <xsd:enumeration value="401"/>
            <xsd:enumeration value="501"/>
            <xsd:enumeration value="502"/>
            <xsd:enumeration value="503"/>
            <xsd:enumeration value="509"/>
            <xsd:enumeration value="601"/>
            <xsd:enumeration value="610"/>
            <xsd:enumeration value="620"/>
            <xsd:enumeration value="621"/>
            <xsd:enumeration value="630"/>
            <xsd:enumeration value="701"/>
            <xsd:enumeration value="702"/>
            <xsd:enumeration value="703"/>
            <xsd:enumeration value="709"/>
            <xsd:enumeration value="711"/>
            <xsd:enumeration value="712"/>
            <xsd:enumeration value="713"/>
            <xsd:enumeration value="719"/>
            <xsd:enumeration value="721"/>
            <xsd:enumeration value="722"/>
            <xsd:enumeration value="723"/>
            <xsd:enumeration value="729"/>
            <xsd:enumeration value="801"/>
            <xsd:enumeration value="802"/>
            <xsd:enumeration value="803"/>
            <xsd:enumeration value="804"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="JaNeiVetIkke">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="ja"/>
            <xsd:enumeration value="nei"/>
            <xsd:enumeration value="vetIkke"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="Hybrid">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="ukjent"/>
            <xsd:enumeration value="nei"/>
            <xsd:enumeration value="ikkeLadbar"/>
            <xsd:enumeration value="ladbar"/>
            <xsd:enumeration value="annet"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="ValgfriBoolsk">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="ja"/>
            <xsd:enumeration value="nei"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="Kjoeretoeyidentifikator">
        <xsd:sequence>
            <xsd:element name="kjoeretoeyUnikIdentifikator" type="Identifikator"/>
            <xsd:element minOccurs="0" name="kjennemerke" skatt:begrepsreferanse="https://begrepskatalog/begrep/a0905c2a-dc5e-11e5-8127-d6d6eb145c82" type="Tekst">
                <xsd:annotation>
                    <xsd:documentation>Kjennemerke</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="understellsnummer" skatt:begrepsreferanse="https://begrepskatalog/begrep/54f7f1cf-af50-11e8-89d2-005056821322" type="Tekst">
                <xsd:annotation>
                    <xsd:documentation>Understellsnummer</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="fabrikatkode" type="Tekst"/>
            <xsd:element minOccurs="0" name="gyldigFra" skatt:begrepsreferanse="https://begrepskatalog/begrep/1a9af0e6-098d-11e7-94d1-005056825ca0" type="Dato"/>
            <xsd:element minOccurs="0" name="gyldigTil" skatt:begrepsreferanse="https://begrepskatalog/begrep/1a9af0e7-098d-11e7-94d1-005056825ca0" type="Dato"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType name="Organisasjonsnummer" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e1a8-9fe1-11e5-a9f8-e4115b280940">
        <xsd:annotation>
            <xsd:documentation>9 sifret nummer gitt de som er registrert i Enhetsregisteret. </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="Tekst">
            <xsd:pattern value="[0-9]+"/>
            <xsd:length value="9"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="Navn" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e243-9fe1-11e5-a9f8-e4115b280940">
        <xsd:annotation>
            <xsd:documentation>et ord som noen el. noe kalles ved, og som henfører det nevnte til en bestemt klasse el. art (eks plantenavn, stoffnavn) el. skiller ut et bestemt individ, eksemplar e l fra en større gruppe (eks personnavn, stedsnavn). (Bokmålsordboka) </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="Tekst">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="200"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="Poststed" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e122-9fe1-11e5-a9f8-e4115b280940">
        <xsd:annotation>
            <xsd:documentation>geografisk inndeling av postmottakere</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="poststedsnavn" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e123-9fe1-11e5-a9f8-e4115b280940" type="Tekst">
                <xsd:annotation>
                    <xsd:documentation>navn på et poststed</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="postnummer" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e121-9fe1-11e5-a9f8-e4115b280940" type="Postnummer">
                <xsd:annotation>
                    <xsd:documentation>nummer på et poststed</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Feil">
        <xsd:sequence>
            <xsd:element name="feilkode" type="Tekst"/>
            <xsd:element minOccurs="0" name="feilinformasjon" type="Tekst"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType name="Antall" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e145-9fe1-11e5-a9f8-e4115b280940">
        <xsd:annotation>
            <xsd:documentation>mengde som utgjør eller kan uttrykkes i et visst tall </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="Heltall"/>
    </xsd:simpleType>
    <xsd:simpleType name="Prosent" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/5d2b8b80-b7e8-11e7-aa27-0050568351d2">
        <xsd:annotation>
            <xsd:documentation> Prosent betyr hundredel eller per hundre, og representeres ofte av et tall etterfulgt av tegnet '%'. Prosent er altså en hundredel av en  gitt mengde. Eksempelvis vil en prosent av 1000 være 10. </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="Desimaltall"/>
    </xsd:simpleType>
    <xsd:simpleType name="Foedselsnummer" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/5138da10-be20-11e6-8004-005056825ca0">
        <xsd:annotation>
            <xsd:documentation>ellevesifret identifikasjonsnummer for personer bosatt i Norge, der de seks første sifrene angir fødselsdato og de fem siste personnummer.</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="Tekst">
            <xsd:pattern value="[0-9]+"/>
            <xsd:length value="11"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="Klokkenummer">
        <xsd:restriction base="Heltall">
            <xsd:minInclusive value="1"/>
            <xsd:maxInclusive value="999999"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="EkspedisjonLopenummer">
        <xsd:restriction base="Heltall">
            <xsd:minInclusive value="1999000000"/>
            <xsd:maxInclusive value="2100000000"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="Postnummer" skatt:begrepsreferanse="https://data.skatteetaten.no/begrep/20b2e121-9fe1-11e5-a9f8-e4115b280940">
        <xsd:annotation>
            <xsd:documentation>nummer på et poststed</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="Tekst">
            <xsd:pattern value="([0-9]){4}"/>
            <xsd:length value="4"/>
        </xsd:restriction>
    </xsd:simpleType>
</xsd:schema>
