src/Designer/testdata/Model/XmlSchema/Gitea/RA-0678_M.xsd

<xsd:schema xmlns:seres="http://seres.no/xsd/forvaltningsdata" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" xml:lang="nb">
  <xsd:annotation>
    <xsd:documentation>
      <xsd:attribute name="XSLT-skriptnavn" fixed="SERES_XSD_GEN" />
      <xsd:attribute name="XSD-generatorversjon" fixed="2.0.23" />
      <xsd:attribute name="XSLT-prosessor" fixed="SAXON versjon 9.1.0.7" />
      <xsd:attribute name="generert" fixed="2020-08-21T15:08:44.825+02:00" />
      <xsd:attribute name="navneromprefix" fixed="http://seres.no/xsd" />
      <xsd:attribute name="namespace" fixed="http://seres.no/xsd/StatistiskSentralbyraa/RA-0678_M/2020" />
      <xsd:attribute name="meldingsnavn" fixed="melding" />
      <xsd:attribute name="domenenavn" fixed="StatistiskSentralbyraa" />
      <xsd:attribute name="modellnavn" fixed="RA-0678_M" />
      <xsd:attribute name="metamodellversjon" fixed="1.2" />
      <xsd:attribute name="guid" fixed="true" />
      <xsd:attribute name="orid" fixed="false" />
      <xsd:attribute name="nillable" fixed="true" />
      <xsd:attribute name="tillat-gjenbruk" fixed="true" />
      <xsd:attribute name="elementtype" fixed="true" />
      <xsd:attribute name="forvaltningsdata" fixed="true" />
      <xsd:attribute name="forvaltningsdata-navnerom" fixed="http://seres.no/xsd/forvaltningsdata" />
      <xsd:attribute name="saernorske-bokstaver-i-navn" fixed="false" />
      <xsd:attribute name="ft_guid_som_attributt" fixed="false" />
      <xsd:attribute name="sem-ref" fixed="false" />
      <xsd:attribute name="kodebibliotek" fixed="false" />
      <xsd:attribute name="spraak" fixed="nb" />
      <xsd:attribute name="XSD-variant" fixed="Altinn 1.3.2" />
    </xsd:documentation>
  </xsd:annotation>
  <xsd:element name="melding" type="RA-0678_M" />
  <xsd:complexType name="RA-0678_M" seres:elementtype="Meldingsmodell" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Meldingsmodell/RA-0678_M/600886">
    <xsd:sequence>
      <xsd:element name="InternInformasjon" type="InternInformasjon" seres:elementtype="Meldingsdel" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Meldingsdel/InternInformasjon/776444" />
      <xsd:element name="KontaktpersonOgKommentarfelt" type="KontaktpersonOgKommentarfelt" seres:elementtype="Meldingsdel" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Meldingsdel/KontaktpersonOgKommentarfelt/487843" />
      <xsd:element name="ForetakOgVirksomhetsopplysninger" type="ForetakOgVirksomhetsopplysninger" seres:elementtype="Meldingsdel" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Meldingsdel/ForetakOgVirksomhetsopplysninger/492169" />
      <xsd:element name="StatusVirksomhetMedDriftsperiode" type="StatusVirksomhetMedDriftsperiode" seres:elementtype="Meldingsdel" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Meldingsdel/StatusVirksomhetMedDriftsperiode/526334" />
      <xsd:element name="Oppgavebyrde" type="Oppgavebyrde" seres:elementtype="Meldingsdel" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Meldingsdel/Oppgavebyrde/492705" />
      <xsd:element name="Naeringskontrollspoersmaal" type="Naeringskontrollspoersmaal" seres:elementtype="Meldingsdel" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Meldingsdel/Næringskontroll/526331" />
      <xsd:element name="Skjemadata" type="Skjemadata" seres:elementtype="Meldingsdel" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Meldingsdel/Skjemadata/600884" />
    </xsd:sequence>
    <xsd:attribute name="dataFormatProvider" type="xsd:string" use="required" fixed="SERES" />
    <xsd:attribute name="dataFormatId" type="xsd:string" use="required" fixed="4664" />
    <xsd:attribute name="dataFormatVersion" type="xsd:string" use="required" fixed="45918" />
    <xsd:anyAttribute />
  </xsd:complexType>
  <xsd:complexType name="InternInformasjon" seres:elementtype="Meldingsdel" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Meldingsdel/InternInformasjon/776444" seres:beskrivelse="Når et skjema ligger i meldingsboksen i Altinn er flere av disse opplysningene forhåndsutfylt (preutfylt) fra SSB">
    <xsd:sequence>
      <xsd:element name="periodeFritekst" type="Tekst_50" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:beskrivelse="Tekst som beskriver perioden for et skjema, f.eks. '1. kvartal 1999', 'januar 1999' eller kun årstallet '1999'. og er vanligvis preutfylt fra SSB." seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataegenskap/periodeFritekst/776443" />
      <xsd:element name="rapportPeriode" type="Tidsrom" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:beskrivelse="Er i bruk for enkelte innsendinger som en erstatning for delRegNummer, f.eks.ved direkte innsending til SSB via SFTP." seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataegenskap/rapportPeriode/776442" />
      <xsd:element name="raNummer" type="Tekst" seres:elementtype="Dataegenskap" seres:beskrivelse="RA-nummeret identifiserer et skjema (i kombinasjon med delRegNummer) og er vanligvis preutfylt fra SSB." seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataegenskap/raNummer/776441" />
      <xsd:element name="delRegNummer" type="Tekst" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:beskrivelse="delregisternummeret identifiserer utvalget som er knyttet til abonnementsfilen og er vanligvis preutfylt fra SSB for et gitt skjema og periode." seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataegenskap/delRegNummer/776440" />
      <xsd:element name="identnummerEnhet" type="Tekst" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:beskrivelse="Unikt nummer brukt internt i SSBs mottakssystem" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataegenskap/identnummerEnhet/776439" />
      <xsd:element name="sendtFraSluttbrukersystem" type="Tekst_09" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:beskrivelse="Skal brukes til å fange opp verdien til my:SentFromEUS" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataegenskap/sendtFraSluttbrukersystem/776438" />
      <xsd:element name="skjemaidentifikasjon" type="Skjemaidentifikasjon" nillable="true" minOccurs="0" seres:elementtype="Relasjonsegenskap" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Relasjonsegenskap/skjemaidentifikasjon/776437" />
      <xsd:element name="statistiskEnhet" type="StatistiskEnhet" nillable="true" minOccurs="0" seres:elementtype="Relasjonsegenskap" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Relasjonsegenskap/statistiskEnhet/776436" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Tidsrom" seres:elementtype="Datakomplekstype" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Datakomplekstype/Tidsrom/476091">
    <xsd:sequence>
      <xsd:element name="fomDato" type="Dato" nillable="true" minOccurs="0" seres:elementtype="DataTypeegenskap" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/DataTypeegenskap/fomDato/476090" />
      <xsd:element name="tomDato" type="Dato" nillable="true" minOccurs="0" seres:elementtype="DataTypeegenskap" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/DataTypeegenskap/tomDato/476089" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Skjemaidentifikasjon" seres:elementtype="Dataobjekttype" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataobjekttype/Skjemaidentifikasjon/618242" seres:beskrivelse="Felter som er nødvendige for å innkvittere riktig i SSBs datamottak">
    <xsd:sequence>
      <xsd:element name="periodenummer" type="Tekst_02" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:beskrivelse="Riktig periodenummer er avhengig av verdien oppgitt i periodetypen." seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataegenskap/periodenummer/618241" />
      <xsd:element name="periodetype" type="Periodetype" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:beskrivelse="Periodetype som i kodeliste" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataegenskap/periodetype/618240" />
      <xsd:element name="periodeAAr" type="Tekst_04" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:beskrivelse="Firesifret årstall" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataegenskap/periodeÅr/618239" />
      <xsd:element name="undersoekelsesnummer" type="Tekst_30" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:beskrivelse="Entydig identifikasjon av undersøkelsen" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataegenskap/undersøkelsesnummer/618238" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="StatistiskEnhet" seres:elementtype="Dataobjekttype" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataobjekttype/StatistiskEnhet/776426" seres:beskrivelse="Identen f.eks. orgnummer eller fødselsnummer for den statistiske enheten. Hva slags opplysning som ligger her kan man se av dataegenskapen enhetstype.">
    <xsd:sequence>
      <xsd:element name="enhetsident" type="Tekst_50" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataegenskap/enhetsident/776425" />
      <xsd:element name="enhetstype" type="Tekst" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataegenskap/enhetstype/776424" />
      <xsd:element name="enhetsNavn" type="Tekst" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataegenskap/enhetsNavn/776423" />
      <xsd:element name="enhetsAdresse" type="Tekst" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataegenskap/enhetsAdresse/776422" />
      <xsd:element name="enhetsPostnummer" type="Tekst" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataegenskap/enhetsPostnummer/776421" />
      <xsd:element name="enhetsPoststed" type="Tekst" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataegenskap/enhetsPoststed/776420" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="KontaktpersonOgKommentarfelt" seres:elementtype="Meldingsdel" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Meldingsdel/KontaktpersonOgKommentarfelt/487843">
    <xsd:sequence>
      <xsd:element name="kommentar" type="Kommentar" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataegenskap/kommentar/487842" />
      <xsd:element name="kontaktperson" type="Kontaktperson" nillable="true" minOccurs="0" seres:elementtype="Relasjonsegenskap" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Relasjonsegenskap/kontaktperson/487841" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Kontaktperson" seres:elementtype="Dataobjekttype" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataobjekttype/Kontaktperson/476088">
    <xsd:sequence>
      <xsd:element name="epostadresse" type="Epost" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataegenskap/epostadresse/476085" />
      <xsd:element name="navn" type="NavnSomToken" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataegenskap/navn/489943" />
      <xsd:element name="telefonSFU" type="Tekst_25" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:beskrivelse="Tekstfelt som tåler de sammensatte telefonnumrene fra SFU som prefill" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataegenskap/telefonSFU/566757" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ForetakOgVirksomhetsopplysninger" seres:elementtype="Meldingsdel" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Meldingsdel/ForetakOgVirksomhetsopplysninger/492169" seres:beskrivelse="Inneholder organisasjonsnummer og adresseopplysninger på foretaks og virksomhetsnivå.">
    <xsd:sequence>
      <xsd:element name="organisasjonsnummerKontekst" type="Organisasjonsnummer" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:beskrivelse="Feltet skal ta vare på det orgnummeret man representerer i portalen, f.eks. om man logger seg på virksomheten eller foretaket." seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataegenskap/organisasjonsnummerKontekst/492166" />
      <xsd:element name="foretak" type="Foretak" nillable="true" minOccurs="0" seres:elementtype="Relasjonsegenskap" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Relasjonsegenskap/foretak/492168" />
      <xsd:element name="virksomhet" type="Virksomhet" nillable="true" minOccurs="0" seres:elementtype="Relasjonsegenskap" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Relasjonsegenskap/virksomhet/492167" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Foretak" seres:elementtype="Dataobjekttype" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataobjekttype/Foretak/492157" seres:beskrivelse="Som regel tilsvarer denne juridisk enhet, men den kan ha både et snevrere og videre omfang">
    <xsd:sequence>
      <xsd:element name="organisasjonsnummerForetak" type="Organisasjonsnummer" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataegenskap/organisasjonsnummerForetak/492156" />
      <xsd:element name="navnForetak" type="Tekst" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataegenskap/navnForetak/492155" />
      <xsd:element name="adresseForetak" type="Besoeksadresse" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataegenskap/postadresseForetak/492453" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Besoeksadresse" seres:elementtype="Datakomplekstype" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Datakomplekstype/Besøksadresse/486194">
    <xsd:sequence>
      <xsd:element name="gateadresse" type="Tekst200" nillable="true" minOccurs="0" seres:elementtype="DataTypeegenskap" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/DataTypeegenskap/gateadresse/486193" />
      <xsd:element name="postnummer" type="Tekst_04" nillable="true" minOccurs="0" seres:elementtype="DataTypeegenskap" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/DataTypeegenskap/postnummer/486192" />
      <xsd:element name="poststed" type="Tekst100" nillable="true" minOccurs="0" seres:elementtype="DataTypeegenskap" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/DataTypeegenskap/poststed/486191" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Virksomhet" seres:elementtype="Dataobjekttype" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataobjekttype/Virksomhet/492153" seres:beskrivelse="I Samordnet registermelding er begrepet virksomhet brukt for å skille mellom opplysninger som gjelder den juridiske enheten (foretaket) og opplysninger om den virksomhet (bedrift) som utøves. Av samme grunn bør SSB i størst mulig grad bruke begrepet virksomhet utad istedenfor bedrift.">
    <xsd:sequence>
      <xsd:element name="organisasjonsnummerVirksomhet" type="Organisasjonsnummer" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataegenskap/organisasjonsnummerVirksomhet/492152" />
      <xsd:element name="navnVirksomhet" type="NavnString" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataegenskap/navnVirksomhet/492151" />
      <xsd:element name="adresseVirksomhet" type="Besoeksadresse" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataegenskap/forretningsadresseVirksomhet/492452" />
      <xsd:element name="avdeling" type="NavnString" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataegenskap/avdeling/492150" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="StatusVirksomhetMedDriftsperiode" seres:elementtype="Meldingsdel" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Meldingsdel/StatusVirksomhetMedDriftsperiode/526334" seres:beskrivelse="Felter som brukes til å lagre opplysninger om virksomheten har vært i drift i rapporteringsperioden.">
    <xsd:sequence>
      <xsd:element name="driftsstatusPeriode" type="DriftsstatusPeriode" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataegenskap/driftsstatusPeriode/526333" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Oppgavebyrde" seres:elementtype="Meldingsdel" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Meldingsdel/Oppgavebyrde/492705" seres:beskrivelse="Skjemaer må lages dynamiske (med sporvalg) for å kunne fjerne og legge til oppgavebyrde uten å prodsette på nytt">
    <xsd:sequence>
      <xsd:element name="visOppgavebyrdeJaNeiPrefill" type="SvaralternativJaNei" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataegenskap/visOppgavebyrdeJaNeiPrefill/492910" />
      <xsd:element name="antallPersonerHjelp" type="AntallMedNull" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataegenskap/antallPersonerHjelp/492704" />
      <xsd:element name="fikkHjelpAvAndre" type="SvaralternativJaNei" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataegenskap/fikkHjelpAvAndre/492703" />
      <xsd:element name="harSamletInformasjon" type="SvaralternativJaNei" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataegenskap/harSamletInformasjon/492702" />
      <xsd:element name="tidsbrukSamleInformasjon" type="Tidsbruk" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataegenskap/tidsbrukSamleInformasjon/492701" />
      <xsd:element name="tidsbrukSelveSkjemautfyllingen" type="Tidsbruk" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataegenskap/tidsbrukSelveSkjemautfyllingen/492700" />
      <xsd:element name="tidsbrukTotalHjelpAvAndre" type="Tidsbruk" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataegenskap/tidsbrukTotalHjelpAvAndre/492699" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Tidsbruk" seres:elementtype="Datakomplekstype" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Datakomplekstype/Tidsbruk/487647">
    <xsd:sequence>
      <xsd:element name="AntallTimer" type="AntallMedNull" nillable="true" minOccurs="0" seres:elementtype="DataTypeegenskap" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/DataTypeegenskap/AntallTimer/487646" />
      <xsd:element name="AntallMinutter" type="AntallMinutter" nillable="true" minOccurs="0" seres:elementtype="DataTypeegenskap" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/DataTypeegenskap/AntallMinutter/487645" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Naeringskontrollspoersmaal" seres:elementtype="Meldingsdel" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Meldingsdel/Næringskontroll/526331">
    <xsd:sequence>
      <xsd:element name="visNaeringskontrollJaNeiPrefill" type="SvaralternativJaNei" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataegenskap/visNæringskontrollJaNeiPrefill/526330" />
      <xsd:element name="Naeringskontroll" type="Naeringskontroll" nillable="true" minOccurs="0" seres:elementtype="Relasjonsegenskap" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Relasjonsegenskap/næringskontroll/526329" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Naeringskontroll" seres:elementtype="Dataobjekttype" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataobjekttype/Næringskontroll/488727">
    <xsd:sequence>
      <xsd:element name="naeringOk" type="SvaralternativJaNei" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataegenskap/næringOk/488726" />
      <xsd:element name="naeringskode" type="Naeringskode" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataegenskap/næringskode/487207" />
      <xsd:element name="naeringstekst" type="Tekst4000" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataegenskap/næringstekst/619190" />
      <xsd:element name="naeringsbeskrivelse" type="Tekst4000" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataegenskap/næringsbeskrivelse/592349" />
      <xsd:element name="nyNaeringsbeskrivelse" type="NyNaeringsbeskrivelse" nillable="true" minOccurs="0" seres:elementtype="Relasjonsegenskap" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Relasjonsegenskap/nyNæringsbeskrivelse/488725" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="NyNaeringsbeskrivelse" seres:elementtype="Dataobjekttype" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataobjekttype/NyNæringsbeskrivelse/488724">
    <xsd:sequence>
      <xsd:element name="nyNaeringTekst" type="Kommentar" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataegenskap/nyNæringTekst/488723" />
      <xsd:element name="alltidViktigsteAktivitet" type="Checkboks01" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:beskrivelse="Indikerer at dette alltid har vært viktigste aktivitet" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataegenskap/AlltidViktigsteAktivitet/525326" />
      <xsd:element name="datoNaeringsendring" type="Dato" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataegenskap/datoNæringsendring/594362" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Skjemadata" seres:elementtype="Meldingsdel" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Meldingsdel/Skjemadata/600884">
    <xsd:sequence>
      <xsd:element name="Prefilldata" type="Prefilldata" nillable="true" minOccurs="0" seres:elementtype="Relasjonsegenskap" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Relasjonsegenskap/Prefilldata/600882" />
      <xsd:element name="hjelpeFelt" type="HjelpeFelt" nillable="true" minOccurs="0" seres:elementtype="Relasjonsegenskap" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Relasjonsegenskap/hjelpeFelt/776435" />
      <xsd:element name="Data" type="Data" nillable="true" minOccurs="0" seres:elementtype="Relasjonsegenskap" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Relasjonsegenskap/Data/600883" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Prefilldata" seres:elementtype="Dataobjekttype" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataobjekttype/Prefilldata/600879">
    <xsd:sequence>
      <xsd:element name="AntallAnsatte" type="TokenTekst" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataegenskap/AntallAnsatte/600878" />
      <xsd:element name="Dato" type="TokenTekst" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataegenskap/Dato/600877" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="HjelpeFelt" seres:elementtype="Dataobjekttype" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataobjekttype/HjelpeFelt/776434">
    <xsd:sequence>
      <xsd:element name="hjelpFelt1" type="Tekst" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataegenskap/hjelpFelt1/776433" />
      <xsd:element name="hjelpFelt2" type="Tekst" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataegenskap/hjelpFelt2/776432" />
      <xsd:element name="hjelpFelt3" type="Tekst" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataegenskap/hjelpFelt3/776431" />
      <xsd:element name="hjelpFelt4" type="Tekst" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataegenskap/hjelpFelt4/776430" />
      <xsd:element name="hjelpFelt5" type="Tekst" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataegenskap/hjelpFelt5/776429" />
      <xsd:element name="hjelpFelt6" type="Tekst" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataegenskap/hjelpFelt6/776428" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Data" seres:elementtype="Dataobjekttype" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataobjekttype/Data/600881">
    <xsd:sequence>
      <xsd:element name="LedigeStillinger" type="Heltall_6_siffer" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataegenskap/SPML16/600880" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="Tekst_50" seres:elementtype="Dataenkeltype" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataenkeltype/Tekst50/479312">
    <xsd:restriction base="Tekst_50_Tekst_50Restriksjon" />
  </xsd:simpleType>
  <xsd:simpleType name="Tekst_50_Tekst_50Restriksjon" seres:elementtype="Tegnrestriksjon" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Tegnrestriksjon/Tekst_50Restriksjon/502232">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="50" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Dato" seres:elementtype="Dataenkeltype" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataenkeltype/Dato/479008">
    <xsd:restriction base="xsd:date" />
  </xsd:simpleType>
  <xsd:simpleType name="Tekst" seres:elementtype="Dataenkeltype" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataenkeltype/Tekst/476104">
    <xsd:restriction base="xsd:string" />
  </xsd:simpleType>
  <xsd:simpleType name="Tekst_09" seres:elementtype="Dataenkeltype" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataenkeltype/Tekst_09/566760">
    <xsd:restriction base="Tekst_09_Tekst_09Restriksjon" />
  </xsd:simpleType>
  <xsd:simpleType name="Tekst_09_Tekst_09Restriksjon" seres:elementtype="Tegnrestriksjon" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Tegnrestriksjon/Tekst_09Restriksjon/566758">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="9" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Tekst_02" seres:elementtype="Dataenkeltype" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataenkeltype/Tekst_02/567054">
    <xsd:restriction base="Tekst_02_Tekst_02Restriksjon" />
  </xsd:simpleType>
  <xsd:simpleType name="Tekst_02_Tekst_02Restriksjon" seres:elementtype="Tegnrestriksjon" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Tegnrestriksjon/Tekst_02Restriksjon/502228">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="2" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Periodetype" seres:elementtype="Datakodeliste" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Datakodeliste/Periodetype/618237" seres:beskrivelse="Kodeliste for periodetypene som fins i SFU">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="AAR" seres:elementtype="Datakodeelement" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Datakodeelement/Årlig/618236" />
      <xsd:enumeration value="DELT" seres:elementtype="Datakodeelement" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Datakodeelement/Delt utvalg/618235" />
      <xsd:enumeration value="HALV" seres:elementtype="Datakodeelement" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Datakodeelement/Halvårlig/618234" />
      <xsd:enumeration value="KVRT" seres:elementtype="Datakodeelement" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Datakodeelement/Kvartalsvis/618233" />
      <xsd:enumeration value="MND" seres:elementtype="Datakodeelement" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Datakodeelement/Månedlig/618232" />
      <xsd:enumeration value="TERM" seres:elementtype="Datakodeelement" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Datakodeelement/Termin_MVA/618231" />
      <xsd:enumeration value="TERT" seres:elementtype="Datakodeelement" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Datakodeelement/Tertial/618230" />
      <xsd:enumeration value="UKE" seres:elementtype="Datakodeelement" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Datakodeelement/Ukentlig/618229" />
      <xsd:enumeration value="" seres:elementtype="Datakodeelement" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Datakodeelement/tom/618257" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Tekst_04" seres:elementtype="Dataenkeltype" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataenkeltype/Tekst_04/567053">
    <xsd:restriction base="Tekst_04_Tekst_04Restriksjon" />
  </xsd:simpleType>
  <xsd:simpleType name="Tekst_04_Tekst_04Restriksjon" seres:elementtype="Tegnrestriksjon" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Tegnrestriksjon/Tekst_04Restriksjon/502229">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="4" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Tekst_30" seres:elementtype="Dataenkeltype" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataenkeltype/Tekst_30/492116">
    <xsd:restriction base="Tekst_30_Tekst_30Restriksjon" />
  </xsd:simpleType>
  <xsd:simpleType name="Tekst_30_Tekst_30Restriksjon" seres:elementtype="Tegnrestriksjon" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Tegnrestriksjon/Tekst_30Restriksjon/502224">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="30" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Kommentar" seres:elementtype="Dataenkeltype" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataenkeltype/Kommentar/4721">
    <xsd:restriction base="Kommentar_Kommentar2000Restriksjon" />
  </xsd:simpleType>
  <xsd:simpleType name="Kommentar_Kommentar2000Restriksjon" seres:elementtype="Tegnrestriksjon" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Tegnrestriksjon/Kommentar2000Restriksjon/502246">
    <xsd:restriction base="xsd:token">
      <xsd:maxLength value="2000" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Epost" seres:elementtype="Dataenkeltype" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataenkeltype/Epost/476105">
    <xsd:restriction base="Epost_EPostRestriksjon" />
  </xsd:simpleType>
  <xsd:simpleType name="Epost_EPostRestriksjon" seres:elementtype="Tegnrestriksjon" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Tegnrestriksjon/EPostRestriksjon/502244">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="100" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="NavnSomToken" seres:elementtype="Dataenkeltype" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataenkeltype/NavnSomToken/488179">
    <xsd:restriction base="xsd:token" />
  </xsd:simpleType>
  <xsd:simpleType name="Tekst_25" seres:elementtype="Dataenkeltype" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataenkeltype/Tekst_25/566761">
    <xsd:restriction base="Tekst_25_Tekst_25Restriksjon" />
  </xsd:simpleType>
  <xsd:simpleType name="Tekst_25_Tekst_25Restriksjon" seres:elementtype="Tegnrestriksjon" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Tegnrestriksjon/Tekst_25Restriksjon/566759">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="25" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Organisasjonsnummer" seres:elementtype="Dataenkeltype" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataenkeltype/Organisasjonsnummer/476107">
    <xsd:restriction base="Organisasjonsnummer_OrganisasjonsnummerRestriksjon" />
  </xsd:simpleType>
  <xsd:simpleType name="Organisasjonsnummer_OrganisasjonsnummerRestriksjon" seres:elementtype="Tegnrestriksjon" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Tegnrestriksjon/OrganisasjonsnummerRestriksjon/502234">
    <xsd:restriction base="xsd:string" seres:beskrivelse="MOD 11 gir siste siffer i orgnr">
      <xsd:maxLength value="9" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Tekst200" seres:elementtype="Dataenkeltype" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataenkeltype/Tekst200/491779">
    <xsd:restriction base="Tekst200_Tekst200Restriksjon" />
  </xsd:simpleType>
  <xsd:simpleType name="Tekst200_Tekst200Restriksjon" seres:elementtype="Tegnrestriksjon" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Tegnrestriksjon/Tekst200Restriksjon/502227">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="200" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Tekst100" seres:elementtype="Dataenkeltype" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataenkeltype/Tekst100/479311">
    <xsd:restriction base="Tekst100_Tekst100Restriksjon" />
  </xsd:simpleType>
  <xsd:simpleType name="Tekst100_Tekst100Restriksjon" seres:elementtype="Tegnrestriksjon" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Tegnrestriksjon/Tekst100Restriksjon/502231">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="100" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="NavnString" seres:elementtype="Dataenkeltype" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataenkeltype/Navn/4722">
    <xsd:restriction base="NavnString_NavnRestriksjon" />
  </xsd:simpleType>
  <xsd:simpleType name="NavnString_NavnRestriksjon" seres:elementtype="Tegnrestriksjon" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Tegnrestriksjon/NavnRestriksjon/502238">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="200" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DriftsstatusPeriode" seres:elementtype="Datakodeliste" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Datakodeliste/DriftsstatusPeriode/524891">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="jaDrift" seres:elementtype="Datakodeelement" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Datakodeelement/jaDrift/524890" />
      <xsd:enumeration value="jaDriftPeriode" seres:elementtype="Datakodeelement" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Datakodeelement/jaDriftPeriode/524889" />
      <xsd:enumeration value="neiDriftPeriode" seres:elementtype="Datakodeelement" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Datakodeelement/neiDriftPeriode/524888" />
      <xsd:enumeration value="" seres:elementtype="Datakodeelement" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Datakodeelement/tom/623610" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="SvaralternativJaNei" seres:elementtype="Datakodeliste" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Datakodeutvalg/Svaralternativ/13653">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="1" seres:elementtype="Datakodeelement" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Datakodeelement/1/502310" />
      <xsd:enumeration value="2" seres:elementtype="Datakodeelement" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Datakodeelement/2/502311" />
      <xsd:enumeration value="" seres:elementtype="Datakodeelement" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Datakodeelement/tom/576715" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="AntallMedNull" seres:elementtype="Dataenkeltype" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataenkeltype/AntallMedNull/477092">
    <xsd:restriction base="AntallMedNull_AntallRestriksjon" />
  </xsd:simpleType>
  <xsd:simpleType name="AntallMedNull_AntallRestriksjon" seres:elementtype="Tallrestriksjon" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Tallrestriksjon/AntallRestriksjon/502249">
    <xsd:restriction base="xsd:nonNegativeInteger" />
  </xsd:simpleType>
  <xsd:simpleType name="AntallMinutter" seres:elementtype="Dataenkeltype" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataenkeltype/AntallMinutter/592850">
    <xsd:restriction base="AntallMinutter_AntallMinutterRestriksjon" />
  </xsd:simpleType>
  <xsd:simpleType name="AntallMinutter_AntallMinutterRestriksjon" seres:elementtype="Tallrestriksjon" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Tallrestriksjon/AntallMinutterRestriksjon/592849">
    <xsd:restriction base="xsd:integer">
      <xsd:totalDigits value="2" />
      <xsd:minInclusive value="0" />
      <xsd:maxInclusive value="59" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Naeringskode" seres:elementtype="Dataenkeltype" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataenkeltype/Næringskode/13640" seres:beskrivelse="Næringskoden er en næringsklassifisering bestående at 5 siffer vanligvis med et punktum etter andre siffer.">
    <xsd:restriction base="Naeringskode_Tekst_06Restriksjon" />
  </xsd:simpleType>
  <xsd:simpleType name="Naeringskode_Tekst_06Restriksjon" seres:elementtype="Tegnrestriksjon" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Tegnrestriksjon/Tekst_06Restriksjon/571136">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="6" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Tekst4000" seres:elementtype="Dataenkeltype" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataenkeltype/Tekst4000/571139">
    <xsd:restriction base="Tekst4000_Tekst4000Restriksjon" />
  </xsd:simpleType>
  <xsd:simpleType name="Tekst4000_Tekst4000Restriksjon" seres:elementtype="Tegnrestriksjon" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Tegnrestriksjon/Tekst4000Restriksjon/571137">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="4000" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Checkboks01" seres:elementtype="Datakodeliste" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Datakodeliste/Checkboks01/593709">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="1" seres:elementtype="Datakodeelement" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Datakodeelement/1/593708" />
      <xsd:enumeration value="0" seres:elementtype="Datakodeelement" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Datakodeelement/0/593707" />
      <xsd:enumeration value="" seres:elementtype="Datakodeelement" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Datakodeelement/tom/593706" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TokenTekst" seres:elementtype="Dataenkeltype" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataenkeltype/TokenTekst/486190">
    <xsd:restriction base="xsd:token" />
  </xsd:simpleType>
  <xsd:simpleType name="Heltall_6_siffer" seres:elementtype="Dataenkeltype" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataenkeltype/AlleHeltallMaks6siffer/479391">
    <xsd:restriction base="Heltall_6_siffer_Restriksjon_Heltall_6_siffer" />
  </xsd:simpleType>
  <xsd:simpleType name="Heltall_6_siffer_Restriksjon_Heltall_6_siffer" seres:elementtype="Tallrestriksjon" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Tallrestriksjon/HeltallMaks6sifferRestriksjon/502001">
    <xsd:restriction base="xsd:integer">
      <xsd:totalDigits value="6" />
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>