testdata/Model/Issue/gh14544/XmlSchema/simple-type-array.xsd

<?xml version="1.0" encoding="utf-8" standalone="no"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:altinn="www.altinn.no/infopath-extensions">
  <xs:element name="melding" type="RootModel" />
  <xs:complexType name="RootModel">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="informasjonstype" type="Informasjonstype"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="Informasjonstype">
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
</xs:schema>
