src/Designer/testdata/Seres/schema_6301-45717.xsd

<?xml version="1.0" encoding="utf-8" standalone="no"?>
<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:seres="http://seres.no/xsd/forvaltningsdata" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:annotation>
    <xsd:documentation>
      <xsd:attribute name="XSLT-skriptnavn" fixed="SERES_XSD_GEN" />
      <xsd:attribute name="XSD-generatorversjon" fixed="2.0.23" />
      <xsd:attribute name="XSLT-prosessor" fixed="SAXON versjon 9.1.0.7" />
      <xsd:attribute name="generert" fixed="2020-05-18T11:59:29.068+02:00" />
      <xsd:attribute name="navneromprefix" fixed="http://seres.no/xsd" />
      <xsd:attribute name="namespace" fixed="http://seres.no/xsd/Regnskapsregisteret/RR-0200Mellombalanse_M/2020" />
      <xsd:attribute name="meldingsnavn" fixed="melding" />
      <xsd:attribute name="domenenavn" fixed="Regnskapsregisteret" />
      <xsd:attribute name="modellnavn" fixed="RR-0200Mellombalanse_M" />
      <xsd:attribute name="metamodellversjon" fixed="1.2" />
      <xsd:attribute name="guid" fixed="true" />
      <xsd:attribute name="orid" fixed="true" />
      <xsd:attribute name="nillable" fixed="true" />
      <xsd:attribute name="tillat-gjenbruk" fixed="false" />
      <xsd:attribute name="elementtype" fixed="true" />
      <xsd:attribute name="forvaltningsdata" fixed="true" />
      <xsd:attribute name="forvaltningsdata-navnerom" fixed="http://seres.no/xsd/forvaltningsdata" />
      <xsd:attribute name="saernorske-bokstaver-i-navn" fixed="false" />
      <xsd:attribute name="ft_guid_som_attributt" fixed="true" />
      <xsd:attribute name="sem-ref" fixed="false" />
      <xsd:attribute name="kodebibliotek" fixed="false" />
      <xsd:attribute name="spraak" fixed="" />
      <xsd:attribute name="XSD-variant" fixed="Altinn 1.3.2" />
    </xsd:documentation>
  </xsd:annotation>
  <xsd:element name="melding" type="RR-0200Mellombalanse_M" />
  <xsd:complexType name="RR-0200Mellombalanse_M" seres:elementtype="Meldingsmodell" seres:guid="http://seres.no/guid/Meldingsmodell/RR0002H_M/397356">
    <xsd:sequence>
      <xsd:element name="Innsender" type="Innsender" seres:elementtype="Meldingsdel" seres:guid="http://seres.no/guid/Meldingsdel/Innsender/397331" />
      <xsd:element name="Skjemainnhold" type="Skjemainnhold" seres:elementtype="Meldingsdel" seres:guid="http://seres.no/guid/Meldingsdel/Skjemainnhold/397349" />
    </xsd:sequence>
    <xsd:attribute name="dataFormatProvider" type="xsd:string" use="required" fixed="SERES" />
    <xsd:attribute name="dataFormatId" type="xsd:string" use="required" fixed="6301" />
    <xsd:attribute name="dataFormatVersion" type="xsd:string" use="required" fixed="45717" />
    <xsd:anyAttribute />
  </xsd:complexType>
  <xsd:complexType name="Innsender" seres:elementtype="Meldingsdel" seres:guid="http://seres.no/guid/Meldingsdel/Innsender/397331">
    <xsd:sequence>
      <xsd:element name="enhet" type="Enhet" nillable="true" minOccurs="0" seres:elementtype="Relasjonsegenskap" seres:guid="http://seres.no/guid/Relasjonsegenskap/enhet/397330" />
      <xsd:element name="kontaktperson" type="Kontaktperson" nillable="true" minOccurs="0" maxOccurs="10" seres:elementtype="Relasjonsegenskap" seres:guid="http://seres.no/guid/Regnskapsregisteret/Relasjonsegenskap/kontaktperson/482458" />
      <xsd:element name="opplysningerInnsending" type="OpplysningerInnsending" nillable="true" minOccurs="0" seres:elementtype="Relasjonsegenskap" seres:guid="http://seres.no/guid/Regnskapsregisteret/Relasjonsegenskap/opplysningerInnsending/566257" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Enhet" seres:elementtype="Dataobjekttype" seres:guid="http://seres.no/guid/Regnskapsregisteret/Dataobjekttype/Enhet/477711">
    <xsd:sequence>
      <xsd:element name="organisasjonsnummer" type="EnhetOrganisasjonsnummer-18" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/Regnskapsregisteret/Dataegenskap/organisasjonsnummer/477710" />
      <xsd:element name="organisasjonsform" type="EnhetOrganisasjonsform-756" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/Regnskapsregisteret/Dataegenskap/organisasjonsform/477709" />
      <xsd:element name="navn" type="EnhetNavn-1" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/Regnskapsregisteret/Dataegenskap/navn/477708" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="EnhetOrganisasjonsnummer-18" seres:elementtype="ORDataenkeltype" seres:guid="http://seres.no/guid/ORDataenkeltype/EnhetOrganisasjonsnummer-18/400536" seres:orid="18">
    <xsd:simpleContent>
      <xsd:extension base="EnhetOrganisasjonsnummer-18_Tekst99Modulus11-repformat-1_3">
        <xsd:attribute name="orid" type="xsd:string" use="required" fixed="18" />
        <xsd:attribute name="guid" type="xsd:string" use="required" fixed="http://seres.no/guid/ORDataenkeltype/EnhetOrganisasjonsnummer-18/400536" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="EnhetOrganisasjonsform-756" seres:elementtype="ORDataenkeltype" seres:guid="http://seres.no/guid/ORDataenkeltype/EnhetOrganisasjonsform-756/399934" seres:orid="756">
    <xsd:simpleContent>
      <xsd:extension base="EnhetOrganisasjonsform-756_Tekst35-repformat-8">
        <xsd:attribute name="orid" type="xsd:string" use="required" fixed="756" />
        <xsd:attribute name="guid" type="xsd:string" use="required" fixed="http://seres.no/guid/ORDataenkeltype/EnhetOrganisasjonsform-756/399934" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="EnhetNavn-1" seres:elementtype="ORDataenkeltype" seres:guid="http://seres.no/guid/ORDataenkeltype/EnhetNavn-1/400376" seres:orid="1">
    <xsd:simpleContent>
      <xsd:extension base="EnhetNavn-1_Tekst175-repformat-8_2">
        <xsd:attribute name="orid" type="xsd:string" use="required" fixed="1" />
        <xsd:attribute name="guid" type="xsd:string" use="required" fixed="http://seres.no/guid/ORDataenkeltype/EnhetNavn-1/400376" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="Kontaktperson" seres:elementtype="Dataobjekttype" seres:guid="http://seres.no/guid/Regnskapsregisteret/Dataobjekttype/Kontaktperson/482457">
    <xsd:sequence>
      <xsd:element name="e-post" type="KontaktpersonEPost-19022" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/Regnskapsregisteret/Dataegenskap/e-post/482456" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="KontaktpersonEPost-19022" seres:elementtype="ORDataenkeltype" seres:guid="http://seres.no/guid/ORDataenkeltype/KontaktpersonEPost-19022/399576" seres:orid="19022">
    <xsd:simpleContent>
      <xsd:extension base="KontaktpersonEPost-19022_Tekst70-repformat-7_1">
        <xsd:attribute name="orid" type="xsd:string" use="required" fixed="19022" />
        <xsd:attribute name="guid" type="xsd:string" use="required" fixed="http://seres.no/guid/ORDataenkeltype/KontaktpersonEPost-19022/399576" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="OpplysningerInnsending" seres:elementtype="Dataobjekttype" seres:guid="http://seres.no/guid/Regnskapsregisteret/Dataobjekttype/OpplysningerInnsending/566256">
    <xsd:sequence>
      <xsd:element name="fraSluttbrukersystem" type="ArsregnskapSysteminnsending-35139" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/Regnskapsregisteret/Dataegenskap/fraSluttbrukersystem/566255" />
      <xsd:element name="systemNavn" type="SystemNavn-39007" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/Regnskapsregisteret/Dataegenskap/systemNavn/663042" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ArsregnskapSysteminnsending-35139" seres:elementtype="ORDataenkeltype" seres:guid="http://seres.no/guid/Regnskapsregisteret/ORDataenkeltype/ArsregnskapSysteminnsending-35139/555499" seres:orid="35139">
    <xsd:simpleContent>
      <xsd:extension base="ArsregnskapSysteminnsending-35139_Verdirestriksjon">
        <xsd:attribute name="orid" type="xsd:string" use="required" fixed="35139" />
        <xsd:attribute name="guid" type="xsd:string" use="required" fixed="http://seres.no/guid/Regnskapsregisteret/ORDataenkeltype/ArsregnskapSysteminnsending-35139/555499" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="SystemNavn-39007" seres:elementtype="ORDataenkeltype" seres:guid="http://seres.no/guid/Regnskapsregisteret/ORDataenkeltype/SystemNavn-39007/663040" seres:orid="39007">
    <xsd:simpleContent>
      <xsd:extension base="SystemNavn-39007_Tekst50_1">
        <xsd:attribute name="orid" type="xsd:string" use="required" fixed="39007" />
        <xsd:attribute name="guid" type="xsd:string" use="required" fixed="http://seres.no/guid/Regnskapsregisteret/ORDataenkeltype/SystemNavn-39007/663040" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="Skjemainnhold" seres:elementtype="Meldingsdel" seres:guid="http://seres.no/guid/Meldingsdel/Skjemainnhold/397349">
    <xsd:sequence>
      <xsd:element name="regnskapsperiode" type="Regnskapsperiode" nillable="true" minOccurs="0" seres:elementtype="Relasjonsegenskap" seres:guid="http://seres.no/guid/Relasjonsegenskap/regnskapsperiode/397348" />
      <xsd:element name="regnskapsprinsipper" type="Regnskapsprinsipper" nillable="true" minOccurs="0" seres:elementtype="Relasjonsegenskap" seres:guid="http://seres.no/guid/Relasjonsegenskap/regnskapsprinsipper/397347" />
      <xsd:element name="fastsettelse" type="Fastsettelse" nillable="true" minOccurs="0" seres:elementtype="Relasjonsegenskap" seres:guid="http://seres.no/guid/Relasjonsegenskap/fastsettelse/397346" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Regnskapsperiode" seres:elementtype="Dataobjekttype" seres:guid="http://seres.no/guid/Regnskapsregisteret/Dataobjekttype/Regnskapsperiode/477706">
    <xsd:sequence>
      <xsd:element name="regnskapsaar" type="RegnskapAr-17102" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/Regnskapsregisteret/Dataegenskap/regnskapsår/477705" />
      <xsd:element name="regnskapsslutt" type="RegnskapAvslutningsdato-17104" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/Regnskapsregisteret/Dataegenskap/regnskapsslutt/477703" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="RegnskapAr-17102" seres:elementtype="ORDataenkeltype" seres:guid="http://seres.no/guid/ORDataenkeltype/RegnskapAr-17102/400287" seres:orid="17102">
    <xsd:simpleContent>
      <xsd:extension base="RegnskapAr-17102_Ar1980AretsAr-repformat-107">
        <xsd:attribute name="orid" type="xsd:string" use="required" fixed="17102" />
        <xsd:attribute name="guid" type="xsd:string" use="required" fixed="http://seres.no/guid/ORDataenkeltype/RegnskapAr-17102/400287" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="RegnskapAvslutningsdato-17104" seres:elementtype="ORDataenkeltype" seres:guid="http://seres.no/guid/ORDataenkeltype/RegnskapAvslutningsdato-17104/399700" seres:orid="17104">
    <xsd:simpleContent>
      <xsd:extension base="RegnskapAvslutningsdato-17104_Dato01011980DagensDatoKontroll18Mnd-repformat-109">
        <xsd:attribute name="orid" type="xsd:string" use="required" fixed="17104" />
        <xsd:attribute name="guid" type="xsd:string" use="required" fixed="http://seres.no/guid/ORDataenkeltype/RegnskapAvslutningsdato-17104/399700" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="Regnskapsprinsipper" seres:elementtype="Dataobjekttype" seres:guid="http://seres.no/guid/Regnskapsregisteret/Dataobjekttype/Regnskapsprinsipper/477699">
    <xsd:sequence>
      <xsd:element name="smaaForetak" type="RegnskapsreglerSmaForetak-8079" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/Regnskapsregisteret/Dataegenskap/småForetak/477698" />
      <xsd:element name="regnskapsreglerSelskap" type="RegnskapsoppsettIFRS-25021" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/Regnskapsregisteret/Dataegenskap/regnskapsreglerSelskap/477697" />
      <xsd:element name="forenkletIFRS" type="ForenkletIFRS-36639" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/Regnskapsregisteret/Dataegenskap/forenkletIFRS/613210" />
      <xsd:element name="aarsregnskapIkkeRevideres" type="ArsregnskapIkkeRevisjonBesluttet-34669" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/Regnskapsregisteret/Dataegenskap/årsregnskapIkkeRevideres/477695" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="RegnskapsreglerSmaForetak-8079" seres:elementtype="ORDatakodeliste" seres:guid="http://seres.no/guid/ORDatakodeutvalg/RegnskapsreglerSmaForetak-8079/397350" seres:orid="8079">
    <xsd:simpleContent>
      <xsd:extension base="RegnskapsreglerSmaForetak-8079_Verdirestriksjon">
        <xsd:attribute name="orid" type="xsd:string" use="required" fixed="8079" />
        <xsd:attribute name="guid" type="xsd:string" use="required" fixed="http://seres.no/guid/ORDatakodeutvalg/RegnskapsreglerSmaForetak-8079/397350" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="RegnskapsoppsettIFRS-25021" seres:elementtype="ORDatakodeliste" seres:guid="http://seres.no/guid/ORDatakodeutvalg/RegnskapsoppsettIFRS-25021/397352" seres:orid="25021">
    <xsd:simpleContent>
      <xsd:extension base="RegnskapsoppsettIFRS-25021_Verdirestriksjon">
        <xsd:attribute name="orid" type="xsd:string" use="required" fixed="25021" />
        <xsd:attribute name="guid" type="xsd:string" use="required" fixed="http://seres.no/guid/ORDatakodeutvalg/RegnskapsoppsettIFRS-25021/397352" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="ForenkletIFRS-36639" seres:elementtype="ORDatakodeliste" seres:guid="http://seres.no/guid/Regnskapsregisteret/ORDatakodeliste/ForenkletIFRS-36639/613245" seres:orid="36639">
    <xsd:simpleContent>
      <xsd:extension base="ForenkletIFRS-36639_Verdirestriksjon">
        <xsd:attribute name="orid" type="xsd:string" use="required" fixed="36639" />
        <xsd:attribute name="guid" type="xsd:string" use="required" fixed="http://seres.no/guid/Regnskapsregisteret/ORDatakodeliste/ForenkletIFRS-36639/613245" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="ArsregnskapIkkeRevisjonBesluttet-34669" seres:elementtype="ORDatakodeliste" seres:guid="http://seres.no/guid/Regnskapsregisteret/ORDatakodeutvalg/ArsregnskapIkkeRevisjonBesluttet-34669/477715" seres:orid="34669">
    <xsd:simpleContent>
      <xsd:extension base="ArsregnskapIkkeRevisjonBesluttet-34669_Verdirestriksjon">
        <xsd:attribute name="orid" type="xsd:string" use="required" fixed="34669" />
        <xsd:attribute name="guid" type="xsd:string" use="required" fixed="http://seres.no/guid/Regnskapsregisteret/ORDatakodeutvalg/ArsregnskapIkkeRevisjonBesluttet-34669/477715" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="Fastsettelse" seres:elementtype="Dataobjekttype" seres:guid="http://seres.no/guid/Regnskapsregisteret/Dataobjekttype/Fastsettelse/477692">
    <xsd:sequence>
      <xsd:element name="fastsettelsesdato" type="RegnskapFastsettelseDato-17105" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/Regnskapsregisteret/Dataegenskap/fastsettelsesdato/477691" />
      <xsd:element name="bekreftendeSelskapsrepresentant" type="StyremedlemNavnSpesifisertStyremedlem-19023" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/Regnskapsregisteret/Dataegenskap/bekreftendeSelskapsrepresentant/477690" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="RegnskapFastsettelseDato-17105" seres:elementtype="ORDataenkeltype" seres:guid="http://seres.no/guid/ORDataenkeltype/RegnskapFastsettelseDato-17105/399637" seres:orid="17105">
    <xsd:simpleContent>
      <xsd:extension base="RegnskapFastsettelseDato-17105_DatoMaxDagensDato-repformat-110">
        <xsd:attribute name="orid" type="xsd:string" use="required" fixed="17105" />
        <xsd:attribute name="guid" type="xsd:string" use="required" fixed="http://seres.no/guid/ORDataenkeltype/RegnskapFastsettelseDato-17105/399637" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="StyremedlemNavnSpesifisertStyremedlem-19023" seres:elementtype="ORDataenkeltype" seres:guid="http://seres.no/guid/ORDataenkeltype/StyremedlemNavnSpesifisertStyremedlem-19023/399857" seres:orid="19023">
    <xsd:simpleContent>
      <xsd:extension base="StyremedlemNavnSpesifisertStyremedlem-19023_Tekst70-repformat-7">
        <xsd:attribute name="orid" type="xsd:string" use="required" fixed="19023" />
        <xsd:attribute name="guid" type="xsd:string" use="required" fixed="http://seres.no/guid/ORDataenkeltype/StyremedlemNavnSpesifisertStyremedlem-19023/399857" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="EnhetOrganisasjonsnummer-18_Tekst99Modulus11-repformat-1_3" seres:elementtype="Tegnrestriksjon" seres:guid="http://seres.no/guid/Regnskapsregisteret/Tegnrestriksjon/Tekst99Modulus11-repformat-1_3/499447">
    <xsd:restriction base="xsd:string">
      <xsd:length value="9" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="EnhetOrganisasjonsform-756_Tekst35-repformat-8" seres:elementtype="Tegnrestriksjon" seres:guid="http://seres.no/guid/Regnskapsregisteret/Tegnrestriksjon/Tekst35-repformat-8/499380">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1" />
      <xsd:maxLength value="35" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="EnhetNavn-1_Tekst175-repformat-8_2" seres:elementtype="Tegnrestriksjon" seres:guid="http://seres.no/guid/Regnskapsregisteret/Tegnrestriksjon/Tekst175-repformat-8_2/499124">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1" />
      <xsd:maxLength value="175" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="KontaktpersonEPost-19022_Tekst70-repformat-7_1" seres:elementtype="Tegnrestriksjon" seres:guid="http://seres.no/guid/Regnskapsregisteret/Tegnrestriksjon/Tekst70-repformat-7_1/499254">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1" />
      <xsd:maxLength value="70" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ArsregnskapSysteminnsending-35139_Verdirestriksjon">
    <xsd:restriction base="xsd:string" />
  </xsd:simpleType>
  <xsd:simpleType name="SystemNavn-39007_Tekst50_1" seres:elementtype="Tegnrestriksjon" seres:guid="http://seres.no/guid/Regnskapsregisteret/Tegnrestriksjon/Tekst50_1/663039">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="50" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="RegnskapAr-17102_Ar1980AretsAr-repformat-107" seres:elementtype="Tallrestriksjon" seres:guid="http://seres.no/guid/Regnskapsregisteret/Tallrestriksjon/Ar1980AretsAr-repformat-107/500607">
    <xsd:restriction base="xsd:gYear">
      <xsd:minInclusive value="1980" />
      <xsd:maxInclusive value="9999" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="RegnskapAvslutningsdato-17104_Dato01011980DagensDatoKontroll18Mnd-repformat-109" seres:elementtype="Tallrestriksjon" seres:guid="http://seres.no/guid/Regnskapsregisteret/Tallrestriksjon/Dato01011980DagensDatoKontroll18Mnd-repformat-109/500215">
    <xsd:restriction base="xsd:date">
      <xsd:minInclusive value="1980-01-01" />
      <xsd:maxInclusive value="9999-12-31" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="RegnskapsreglerSmaForetak-8079_Verdirestriksjon">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="ja" seres:elementtype="Datakodeelement" seres:guid="http://seres.no/guid/Regnskapsregisteret/Datakodeelement/ja/500662" />
      <xsd:enumeration value="nei" seres:elementtype="Datakodeelement" seres:guid="http://seres.no/guid/Regnskapsregisteret/Datakodeelement/nei/500661" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="RegnskapsoppsettIFRS-25021_Verdirestriksjon">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="nei" seres:elementtype="Datakodeelement" seres:guid="http://seres.no/guid/Regnskapsregisteret/Datakodeelement/nei/500666" />
      <xsd:enumeration value="ja" seres:elementtype="Datakodeelement" seres:guid="http://seres.no/guid/Regnskapsregisteret/Datakodeelement/ja/500665" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ForenkletIFRS-36639_Verdirestriksjon">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="ja" seres:elementtype="Datakodeelement" seres:guid="http://seres.no/guid/Regnskapsregisteret/Datakodeelement/ja/613244" />
      <xsd:enumeration value="nei" seres:elementtype="Datakodeelement" seres:guid="http://seres.no/guid/Regnskapsregisteret/Datakodeelement/nei/613243" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ArsregnskapIkkeRevisjonBesluttet-34669_Verdirestriksjon">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="ja" seres:elementtype="Datakodeelement" seres:guid="http://seres.no/guid/Regnskapsregisteret/Datakodeelement/ja/500660" />
      <xsd:enumeration value="nei" seres:elementtype="Datakodeelement" seres:guid="http://seres.no/guid/Regnskapsregisteret/Datakodeelement/nei/500659" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="RegnskapFastsettelseDato-17105_DatoMaxDagensDato-repformat-110" seres:elementtype="Tallrestriksjon" seres:guid="http://seres.no/guid/Regnskapsregisteret/Tallrestriksjon/DatoMaxDagensDato-repformat-110/500176">
    <xsd:restriction base="xsd:date" />
  </xsd:simpleType>
  <xsd:simpleType name="StyremedlemNavnSpesifisertStyremedlem-19023_Tekst70-repformat-7" seres:elementtype="Tegnrestriksjon" seres:guid="http://seres.no/guid/Regnskapsregisteret/Tegnrestriksjon/Tekst70-repformat-7/499354">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1" />
      <xsd:maxLength value="70" />
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>