src/Designer/testdata/Seres/schema_3428-39614.xsd

<?xml version="1.0" encoding="utf-8" standalone="no"?>
<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:seres="http://seres.no/xsd/forvaltningsdata" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <xsd:annotation>
    <xsd:documentation>
      <xsd:attribute name="XSLT-skriptnavn" fixed="SERES_XSD_GEN" />
      <xsd:attribute name="XSD-generatorversjon" fixed="2.0.13" />
      <xsd:attribute name="XSLT-prosessor" fixed="SAXON versjon 9.1.0.7" />
      <xsd:attribute name="generert" fixed="2015-11-16T15:01:28.135+01:00" />
      <xsd:attribute name="navneromprefix" fixed="http://seres.no/xsd" />
      <xsd:attribute name="namespace" fixed="http://seres.no/xsd/Regnskapsregisteret/RR-0008H_M/2015" />
      <xsd:attribute name="meldingsnavn" fixed="melding" />
      <xsd:attribute name="domenenavn" fixed="Regnskapsregisteret" />
      <xsd:attribute name="modellnavn" fixed="RR-0008H_M" />
      <xsd:attribute name="metamodellversjon" fixed="1.2" />
      <xsd:attribute name="guid" fixed="true" />
      <xsd:attribute name="orid" fixed="true" />
      <xsd:attribute name="nillable" fixed="true" />
      <xsd:attribute name="tillat-gjenbruk" fixed="false" />
      <xsd:attribute name="elementtype" fixed="true" />
      <xsd:attribute name="forvaltningsdata" fixed="true" />
      <xsd:attribute name="forvaltningsdata-navnerom" fixed="http://seres.no/xsd/forvaltningsdata" />
      <xsd:attribute name="særnorske-bokstaver-i-navn" fixed="false" />
      <xsd:attribute name="ft_guid_som_attributt" fixed="false" />
      <xsd:attribute name="sem-ref" fixed="false" />
      <xsd:attribute name="kodebibliotek" fixed="false" />
      <xsd:attribute name="språk" fixed="" />
      <xsd:attribute name="XSD-variant" fixed="Altinn 1.3" />
    </xsd:documentation>
  </xsd:annotation>
  <xsd:element name="melding" type="RR-0008H_M" />
  <xsd:complexType name="RR-0008H_M" seres:elementtype="Meldingsmodell" seres:guid="http://seres.no/guid/Regnskapsregisteret/Meldingsmodell/RR-0008H_M/480673">
    <xsd:sequence>
      <xsd:element name="Innsender" type="Innsender" seres:elementtype="Meldingsdel" seres:guid="http://seres.no/guid/Regnskapsregisteret/Meldingsdel/Innsender/480652" />
      <xsd:element name="Skjemainnhold" type="Skjemainnhold" seres:elementtype="Meldingsdel" seres:guid="http://seres.no/guid/Regnskapsregisteret/Meldingsdel/Skjemainnhold/480650" />
    </xsd:sequence>
    <xsd:attribute name="dataFormatProvider" type="xsd:string" use="required" fixed="SERES" />
    <xsd:attribute name="dataFormatId" type="xsd:string" use="required" fixed="3428" />
    <xsd:attribute name="dataFormatVersion" type="xsd:string" use="required" fixed="39614" />
    <xsd:anyAttribute />
  </xsd:complexType>
  <xsd:complexType name="Innsender" seres:elementtype="Meldingsdel" seres:guid="http://seres.no/guid/Regnskapsregisteret/Meldingsdel/Innsender/480652">
    <xsd:sequence>
      <xsd:element name="enhet" type="Enhet" nillable="true" minOccurs="0" seres:elementtype="Relasjonsegenskap" seres:guid="http://seres.no/guid/Regnskapsregisteret/Relasjonsegenskap/enhet/480651" />
      <xsd:element name="kontaktperson" type="Kontaktperson" nillable="true" minOccurs="0" maxOccurs="10" seres:elementtype="Relasjonsegenskap" seres:guid="http://seres.no/guid/Regnskapsregisteret/Relasjonsegenskap/kontaktperson/482447" />
      <xsd:element name="opplysningerInnsending" type="OpplysningerInnsending" nillable="true" minOccurs="0" seres:elementtype="Relasjonsegenskap" seres:guid="http://seres.no/guid/Regnskapsregisteret/Relasjonsegenskap/systeminnsending/555503" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Enhet" seres:elementtype="Dataobjekttype" seres:guid="http://seres.no/guid/Regnskapsregisteret/Dataobjekttype/Enhet/480671">
    <xsd:sequence>
      <xsd:element name="organisasjonsnummer" type="EnhetOrganisasjonsnummer-18" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/Regnskapsregisteret/Dataegenskap/organisasjonsnummer/480670" />
      <xsd:element name="organisasjonsform" type="EnhetOrganisasjonsform-756" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/Regnskapsregisteret/Dataegenskap/organisasjonsform/480669" />
      <xsd:element name="navn" type="EnhetNavn-1" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/Regnskapsregisteret/Dataegenskap/navn/480668" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="EnhetOrganisasjonsnummer-18" seres:elementtype="ORDataenkeltype" seres:guid="http://seres.no/guid/ORDataenkeltype/EnhetOrganisasjonsnummer-18/400536" seres:orid="18">
    <xsd:simpleContent>
      <xsd:extension base="EnhetOrganisasjonsnummer-18_Verdirestriksjon">
        <xsd:attribute name="orid" type="xsd:string" use="required" fixed="18" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="EnhetOrganisasjonsform-756" seres:elementtype="ORDataenkeltype" seres:guid="http://seres.no/guid/ORDataenkeltype/EnhetOrganisasjonsform-756/399934" seres:orid="756">
    <xsd:simpleContent>
      <xsd:extension base="EnhetOrganisasjonsform-756_Verdirestriksjon">
        <xsd:attribute name="orid" type="xsd:string" use="required" fixed="756" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="EnhetNavn-1" seres:elementtype="ORDataenkeltype" seres:guid="http://seres.no/guid/ORDataenkeltype/EnhetNavn-1/400376" seres:orid="1">
    <xsd:simpleContent>
      <xsd:extension base="EnhetNavn-1_Verdirestriksjon">
        <xsd:attribute name="orid" type="xsd:string" use="required" fixed="1" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="Kontaktperson" seres:elementtype="Dataobjekttype" seres:guid="http://seres.no/guid/Regnskapsregisteret/Dataobjekttype/Kontaktperson/482446">
    <xsd:sequence>
      <xsd:element name="e-post" type="KontaktpersonEPost-19022" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/Regnskapsregisteret/Dataegenskap/e-postKontaktperson/480667" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="KontaktpersonEPost-19022" seres:elementtype="ORDataenkeltype" seres:guid="http://seres.no/guid/ORDataenkeltype/KontaktpersonEPost-19022/399576" seres:orid="19022">
    <xsd:simpleContent>
      <xsd:extension base="KontaktpersonEPost-19022_Verdirestriksjon">
        <xsd:attribute name="orid" type="xsd:string" use="required" fixed="19022" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="OpplysningerInnsending" seres:elementtype="Dataobjekttype" seres:guid="http://seres.no/guid/Regnskapsregisteret/Dataobjekttype/OpplysningerInnsending/566235">
    <xsd:sequence>
      <xsd:element name="fraSluttbrukersystem" type="ArsregnskapSysteminnsending-35139" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/Regnskapsregisteret/Dataegenskap/fraSluttbrukersystem/566234" />
      <xsd:element name="landTilLand" type="ArsregnskapLandTilLand-35172" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/Regnskapsregisteret/Dataegenskap/landTilLand/566233" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ArsregnskapSysteminnsending-35139" seres:elementtype="ORDataenkeltype" seres:guid="http://seres.no/guid/Regnskapsregisteret/ORDataenkeltype/ArsregnskapSysteminnsending-35139/555499" seres:orid="35139">
    <xsd:simpleContent>
      <xsd:extension base="ArsregnskapSysteminnsending-35139_Verdirestriksjon">
        <xsd:attribute name="orid" type="xsd:string" use="required" fixed="35139" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="ArsregnskapLandTilLand-35172" seres:elementtype="ORDataenkeltype" seres:guid="http://seres.no/guid/Regnskapsregisteret/ORDataenkeltype/ArsregnskapLandTilLand-35172/566229" seres:orid="35172">
    <xsd:simpleContent>
      <xsd:extension base="ArsregnskapLandTilLand-35172_Verdirestriksjon">
        <xsd:attribute name="orid" type="xsd:string" use="required" fixed="35172" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="Skjemainnhold" seres:elementtype="Meldingsdel" seres:guid="http://seres.no/guid/Regnskapsregisteret/Meldingsdel/Skjemainnhold/480650">
    <xsd:sequence>
      <xsd:element name="fastsettelse" type="Fastsettelse" nillable="true" minOccurs="0" seres:elementtype="Relasjonsegenskap" seres:guid="http://seres.no/guid/Regnskapsregisteret/Relasjonsegenskap/fastsettelse/480649" />
      <xsd:element name="konsern" type="Konsern" nillable="true" minOccurs="0" seres:elementtype="Relasjonsegenskap" seres:guid="http://seres.no/guid/Regnskapsregisteret/Relasjonsegenskap/konsern/480648" />
      <xsd:element name="regnskapsperiode" type="Regnskapsperiode" nillable="true" minOccurs="0" seres:elementtype="Relasjonsegenskap" seres:guid="http://seres.no/guid/Regnskapsregisteret/Relasjonsegenskap/regnskapsperiode/480647" />
      <xsd:element name="regnskapsprinsipper" type="Regnskapsprinsipper" nillable="true" minOccurs="0" seres:elementtype="Relasjonsegenskap" seres:guid="http://seres.no/guid/Regnskapsregisteret/Relasjonsegenskap/regnskapsprinsipper/480646" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Fastsettelse" seres:elementtype="Dataobjekttype" seres:guid="http://seres.no/guid/Regnskapsregisteret/Dataobjekttype/Fastsettelse/480655">
    <xsd:sequence>
      <xsd:element name="fastsettelsesdato" type="RegnskapFastsettelseDato-17105" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/Regnskapsregisteret/Dataegenskap/fastsettelsesdato/480654" />
      <xsd:element name="bekreftendeSelskapsrepresentant" type="StyremedlemNavnSpesifisertStyremedlem-19023" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/Regnskapsregisteret/Dataegenskap/bekreftendeSelskapsrepresentant/480653" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="RegnskapFastsettelseDato-17105" seres:elementtype="ORDataenkeltype" seres:guid="http://seres.no/guid/ORDataenkeltype/RegnskapFastsettelseDato-17105/399637" seres:orid="17105">
    <xsd:simpleContent>
      <xsd:extension base="RegnskapFastsettelseDato-17105_Verdirestriksjon">
        <xsd:attribute name="orid" type="xsd:string" use="required" fixed="17105" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="StyremedlemNavnSpesifisertStyremedlem-19023" seres:elementtype="ORDataenkeltype" seres:guid="http://seres.no/guid/ORDataenkeltype/StyremedlemNavnSpesifisertStyremedlem-19023/399857" seres:orid="19023">
    <xsd:simpleContent>
      <xsd:extension base="StyremedlemNavnSpesifisertStyremedlem-19023_Verdirestriksjon">
        <xsd:attribute name="orid" type="xsd:string" use="required" fixed="19023" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="Konsern" seres:elementtype="Dataobjekttype" seres:guid="http://seres.no/guid/Regnskapsregisteret/Dataobjekttype/Konsern/480662">
    <xsd:sequence>
      <xsd:element name="konsernregnskap" type="KonsernregnskapVedlegg-25943" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/Regnskapsregisteret/Dataegenskap/konsernregnskap/480661" />
      <xsd:element name="morselskap" type="Morselskap-4168" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/Regnskapsregisteret/Dataegenskap/morselskap/480660" />
      <xsd:element name="utenlandskKonsern" type="UtenlandskKonsern-36640" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/Regnskapsregisteret/Dataegenskap/utenlandskKonsern/613180" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="KonsernregnskapVedlegg-25943" seres:elementtype="ORDatakodeliste" seres:guid="http://seres.no/guid/ORDatakodeutvalg/KonsernregnskapVedlegg-25943/397353" seres:orid="25943">
    <xsd:simpleContent>
      <xsd:extension base="KonsernregnskapVedlegg-25943_Verdirestriksjon">
        <xsd:attribute name="orid" type="xsd:string" use="required" fixed="25943" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="Morselskap-4168" seres:elementtype="ORDatakodeliste" seres:guid="http://seres.no/guid/ORDatakodeutvalg/Morselskap-4168/397351" seres:orid="4168">
    <xsd:simpleContent>
      <xsd:extension base="Morselskap-4168_Verdirestriksjon">
        <xsd:attribute name="orid" type="xsd:string" use="required" fixed="4168" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="UtenlandskKonsern-36640" seres:elementtype="ORDatakodeliste" seres:guid="http://seres.no/guid/Regnskapsregisteret/ORDatakodeliste/UtenlandskKonsern-36640/613242" seres:orid="36640">
    <xsd:simpleContent>
      <xsd:extension base="UtenlandskKonsern-36640_Verdirestriksjon">
        <xsd:attribute name="orid" type="xsd:string" use="required" fixed="36640" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="Regnskapsperiode" seres:elementtype="Dataobjekttype" seres:guid="http://seres.no/guid/Regnskapsregisteret/Dataobjekttype/Regnskapsperiode/480666">
    <xsd:sequence>
      <xsd:element name="regnskapsaar" type="RegnskapAr-17102" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/Regnskapsregisteret/Dataegenskap/regnskapsår/480665" />
      <xsd:element name="regnskapsstart" type="RegnskapStartdato-17103" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/Regnskapsregisteret/Dataegenskap/regnskapsstart/480664" />
      <xsd:element name="regnskapsslutt" type="RegnskapAvslutningsdato-17104" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/Regnskapsregisteret/Dataegenskap/regnskapsslutt/480663" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="RegnskapAr-17102" seres:elementtype="ORDataenkeltype" seres:guid="http://seres.no/guid/ORDataenkeltype/RegnskapAr-17102/400287" seres:orid="17102">
    <xsd:simpleContent>
      <xsd:extension base="RegnskapAr-17102_Verdirestriksjon">
        <xsd:attribute name="orid" type="xsd:string" use="required" fixed="17102" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="RegnskapStartdato-17103" seres:elementtype="ORDataenkeltype" seres:guid="http://seres.no/guid/ORDataenkeltype/RegnskapStartdato-17103/399965" seres:orid="17103">
    <xsd:simpleContent>
      <xsd:extension base="RegnskapStartdato-17103_Verdirestriksjon">
        <xsd:attribute name="orid" type="xsd:string" use="required" fixed="17103" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="RegnskapAvslutningsdato-17104" seres:elementtype="ORDataenkeltype" seres:guid="http://seres.no/guid/ORDataenkeltype/RegnskapAvslutningsdato-17104/399700" seres:orid="17104">
    <xsd:simpleContent>
      <xsd:extension base="RegnskapAvslutningsdato-17104_Verdirestriksjon">
        <xsd:attribute name="orid" type="xsd:string" use="required" fixed="17104" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="Regnskapsprinsipper" seres:elementtype="Dataobjekttype" seres:guid="http://seres.no/guid/Regnskapsregisteret/Dataobjekttype/Regnskapsprinsipper/480659">
    <xsd:sequence>
      <xsd:element name="smaaForetak" type="RegnskapsreglerSmaForetak-8079" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/Regnskapsregisteret/Dataegenskap/småForetak/480658" />
      <xsd:element name="regnskapsreglerSelskap" type="RegnskapsoppsettIFRS-25021" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/Regnskapsregisteret/Dataegenskap/regnskapsreglerSelskap/480657" />
      <xsd:element name="forenkletIFRS" type="ForenkletIFRS-36639" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/Regnskapsregisteret/Dataegenskap/forenkletIFRS/613179" />
      <xsd:element name="regnskapsreglerKonsern" type="RegnskapsoppsettKonsernIFRS-25944" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/Regnskapsregisteret/Dataegenskap/regnskapsreglerKonsern/480656" />
      <xsd:element name="forenkletIFRSKonsern" type="ForenkletIFRSKonsern-36641" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/Regnskapsregisteret/Dataegenskap/forenkletIFRSKonsern/613178" />
      <xsd:element name="aarsregnskapIkkeRevideres" type="ArsregnskapIkkeRevisjonBesluttet-34669" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/Regnskapsregisteret/Dataegenskap/årsregnskapIkkeRevideres/482450" />
      <xsd:element name="aarsregnskapUtarbeidetAutorisertRegnskapsfoerer" type="ArsregnskapUtarbeidelseAvAutorisertRegnskapsforer-34670" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/Regnskapsregisteret/Dataegenskap/årsregnskapUtarbeidetAutorisertRegnskapsfører/482449" />
      <xsd:element name="tjenestebistandEksternAutorisertRegnskapsfoerer" type="TjenestebistandEksternAutorisertRegnskapsforer-34671" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/Regnskapsregisteret/Dataegenskap/tjenestebistandEksternAutorisertRegnskapsfører/482448" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="RegnskapsreglerSmaForetak-8079" seres:elementtype="ORDatakodeliste" seres:guid="http://seres.no/guid/ORDatakodeutvalg/RegnskapsreglerSmaForetak-8079/397350" seres:orid="8079">
    <xsd:simpleContent>
      <xsd:extension base="RegnskapsreglerSmaForetak-8079_Verdirestriksjon">
        <xsd:attribute name="orid" type="xsd:string" use="required" fixed="8079" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="RegnskapsoppsettIFRS-25021" seres:elementtype="ORDatakodeliste" seres:guid="http://seres.no/guid/ORDatakodeutvalg/RegnskapsoppsettIFRS-25021/397352" seres:orid="25021">
    <xsd:simpleContent>
      <xsd:extension base="RegnskapsoppsettIFRS-25021_Verdirestriksjon">
        <xsd:attribute name="orid" type="xsd:string" use="required" fixed="25021" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="ForenkletIFRS-36639" seres:elementtype="ORDatakodeliste" seres:guid="http://seres.no/guid/Regnskapsregisteret/ORDatakodeliste/ForenkletIFRS-36639/613245" seres:orid="36639">
    <xsd:simpleContent>
      <xsd:extension base="ForenkletIFRS-36639_Verdirestriksjon">
        <xsd:attribute name="orid" type="xsd:string" use="required" fixed="36639" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="RegnskapsoppsettKonsernIFRS-25944" seres:elementtype="ORDatakodeliste" seres:guid="http://seres.no/guid/ORDatakodeutvalg/RegnskapsoppsettKonsernIFRS-25944/397354" seres:orid="25944">
    <xsd:simpleContent>
      <xsd:extension base="RegnskapsoppsettKonsernIFRS-25944_Verdirestriksjon">
        <xsd:attribute name="orid" type="xsd:string" use="required" fixed="25944" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="ForenkletIFRSKonsern-36641" seres:elementtype="ORDatakodeliste" seres:guid="http://seres.no/guid/Regnskapsregisteret/ORDatakodeliste/ForenkletIFRSKonsern-36641/613239" seres:orid="36641">
    <xsd:simpleContent>
      <xsd:extension base="ForenkletIFRSKonsern-36641_Verdirestriksjon">
        <xsd:attribute name="orid" type="xsd:string" use="required" fixed="36641" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="ArsregnskapIkkeRevisjonBesluttet-34669" seres:elementtype="ORDatakodeliste" seres:guid="http://seres.no/guid/Regnskapsregisteret/ORDatakodeutvalg/ArsregnskapIkkeRevisjonBesluttet-34669/477715" seres:orid="34669">
    <xsd:simpleContent>
      <xsd:extension base="ArsregnskapIkkeRevisjonBesluttet-34669_Verdirestriksjon">
        <xsd:attribute name="orid" type="xsd:string" use="required" fixed="34669" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="ArsregnskapUtarbeidelseAvAutorisertRegnskapsforer-34670" seres:elementtype="ORDatakodeliste" seres:guid="http://seres.no/guid/Regnskapsregisteret/ORDatakodeutvalg/ArsregnskapUtarbeidelseAvAutorisertRegnskapsforer-34670/477714" seres:orid="34670">
    <xsd:simpleContent>
      <xsd:extension base="ArsregnskapUtarbeidelseAvAutorisertRegnskapsforer-34670_Verdirestriksjon">
        <xsd:attribute name="orid" type="xsd:string" use="required" fixed="34670" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="TjenestebistandEksternAutorisertRegnskapsforer-34671" seres:elementtype="ORDatakodeliste" seres:guid="http://seres.no/guid/Regnskapsregisteret/ORDatakodeutvalg/TjenestebistandEksternAutorisertRegnskapsforer-34671/477713" seres:orid="34671">
    <xsd:simpleContent>
      <xsd:extension base="TjenestebistandEksternAutorisertRegnskapsforer-34671_Verdirestriksjon">
        <xsd:attribute name="orid" type="xsd:string" use="required" fixed="34671" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="EnhetOrganisasjonsnummer-18_Verdirestriksjon" seres:elementtype="Tegnrestriksjon">
    <xsd:restriction base="xsd:string">
      <xsd:length value="9" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="EnhetOrganisasjonsform-756_Verdirestriksjon" seres:elementtype="Tegnrestriksjon">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1" />
      <xsd:maxLength value="35" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="EnhetNavn-1_Verdirestriksjon" seres:elementtype="Tegnrestriksjon">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1" />
      <xsd:maxLength value="175" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="KontaktpersonEPost-19022_Verdirestriksjon" seres:elementtype="Tegnrestriksjon">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1" />
      <xsd:maxLength value="70" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ArsregnskapSysteminnsending-35139_Verdirestriksjon">
    <xsd:restriction base="xsd:string" />
  </xsd:simpleType>
  <xsd:simpleType name="ArsregnskapLandTilLand-35172_Verdirestriksjon">
    <xsd:restriction base="xsd:boolean" />
  </xsd:simpleType>
  <xsd:simpleType name="RegnskapFastsettelseDato-17105_Verdirestriksjon" seres:elementtype="Tallrestriksjon">
    <xsd:restriction base="xsd:date" />
  </xsd:simpleType>
  <xsd:simpleType name="StyremedlemNavnSpesifisertStyremedlem-19023_Verdirestriksjon" seres:elementtype="Tegnrestriksjon">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1" />
      <xsd:maxLength value="70" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="KonsernregnskapVedlegg-25943_Verdirestriksjon">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="ja" seres:elementtype="Datakodeelement" seres:guid="http://seres.no/guid/Regnskapsregisteret/Datakodeelement/ja/500668" />
      <xsd:enumeration value="nei" seres:elementtype="Datakodeelement" seres:guid="http://seres.no/guid/Regnskapsregisteret/Datakodeelement/nei/500667" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Morselskap-4168_Verdirestriksjon">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="ja" seres:elementtype="Datakodeelement" seres:guid="http://seres.no/guid/Regnskapsregisteret/Datakodeelement/ja/500664" />
      <xsd:enumeration value="nei" seres:elementtype="Datakodeelement" seres:guid="http://seres.no/guid/Regnskapsregisteret/Datakodeelement/nei/500663" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="UtenlandskKonsern-36640_Verdirestriksjon">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="ja" seres:elementtype="Datakodeelement" seres:guid="http://seres.no/guid/Regnskapsregisteret/Datakodeelement/ja/613241" />
      <xsd:enumeration value="nei" seres:elementtype="Datakodeelement" seres:guid="http://seres.no/guid/Regnskapsregisteret/Datakodeelement/nei/613240" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="RegnskapAr-17102_Verdirestriksjon" seres:elementtype="Tallrestriksjon">
    <xsd:restriction base="xsd:gYear">
      <xsd:minInclusive value="1980" />
      <xsd:maxInclusive value="9999" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="RegnskapStartdato-17103_Verdirestriksjon" seres:elementtype="Tallrestriksjon">
    <xsd:restriction base="xsd:date">
      <xsd:minInclusive value="1980-01-01" />
      <xsd:maxInclusive value="9999-12-31" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="RegnskapAvslutningsdato-17104_Verdirestriksjon" seres:elementtype="Tallrestriksjon">
    <xsd:restriction base="xsd:date">
      <xsd:minInclusive value="1980-01-01" />
      <xsd:maxInclusive value="9999-12-31" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="RegnskapsreglerSmaForetak-8079_Verdirestriksjon">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="ja" seres:elementtype="Datakodeelement" seres:guid="http://seres.no/guid/Regnskapsregisteret/Datakodeelement/ja/500662" />
      <xsd:enumeration value="nei" seres:elementtype="Datakodeelement" seres:guid="http://seres.no/guid/Regnskapsregisteret/Datakodeelement/nei/500661" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="RegnskapsoppsettIFRS-25021_Verdirestriksjon">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="nei" seres:elementtype="Datakodeelement" seres:guid="http://seres.no/guid/Regnskapsregisteret/Datakodeelement/nei/500666" />
      <xsd:enumeration value="ja" seres:elementtype="Datakodeelement" seres:guid="http://seres.no/guid/Regnskapsregisteret/Datakodeelement/ja/500665" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ForenkletIFRS-36639_Verdirestriksjon">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="ja" seres:elementtype="Datakodeelement" seres:guid="http://seres.no/guid/Regnskapsregisteret/Datakodeelement/ja/613244" />
      <xsd:enumeration value="nei" seres:elementtype="Datakodeelement" seres:guid="http://seres.no/guid/Regnskapsregisteret/Datakodeelement/nei/613243" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="RegnskapsoppsettKonsernIFRS-25944_Verdirestriksjon">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="nei" seres:elementtype="Datakodeelement" seres:guid="http://seres.no/guid/Regnskapsregisteret/Datakodeelement/nei/500670" />
      <xsd:enumeration value="ja" seres:elementtype="Datakodeelement" seres:guid="http://seres.no/guid/Regnskapsregisteret/Datakodeelement/ja/500669" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ForenkletIFRSKonsern-36641_Verdirestriksjon">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="ja" seres:elementtype="Datakodeelement" seres:guid="http://seres.no/guid/Regnskapsregisteret/Datakodeelement/ja/613238" />
      <xsd:enumeration value="nei" seres:elementtype="Datakodeelement" seres:guid="http://seres.no/guid/Regnskapsregisteret/Datakodeelement/nei/613237" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ArsregnskapIkkeRevisjonBesluttet-34669_Verdirestriksjon">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="ja" seres:elementtype="Datakodeelement" seres:guid="http://seres.no/guid/Regnskapsregisteret/Datakodeelement/ja/500660" />
      <xsd:enumeration value="nei" seres:elementtype="Datakodeelement" seres:guid="http://seres.no/guid/Regnskapsregisteret/Datakodeelement/nei/500659" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ArsregnskapUtarbeidelseAvAutorisertRegnskapsforer-34670_Verdirestriksjon">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="ja" seres:elementtype="Datakodeelement" seres:guid="http://seres.no/guid/Regnskapsregisteret/Datakodeelement/ja/500658" />
      <xsd:enumeration value="nei" seres:elementtype="Datakodeelement" seres:guid="http://seres.no/guid/Regnskapsregisteret/Datakodeelement/nei/500657" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TjenestebistandEksternAutorisertRegnskapsforer-34671_Verdirestriksjon">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="ja" seres:elementtype="Datakodeelement" seres:guid="http://seres.no/guid/Regnskapsregisteret/Datakodeelement/ja/500656" />
      <xsd:enumeration value="nei" seres:elementtype="Datakodeelement" seres:guid="http://seres.no/guid/Regnskapsregisteret/Datakodeelement/nei/500655" />
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>