src/test/apps/multiple-datamodels-test/App/models/modell1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:seres="http://seres.no/xsd/forvaltningsdata" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xs:annotation>
    <xs:documentation>
      <xsd:attribute name="rootNode" fixed="" />
    </xs:documentation>
  </xs:annotation>
  <xs:element name="modell1">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="tekstfelt" type="xs:string" />
        <xs:element name="gateadresse" type="xs:string" />
        <xs:element name="poststed" type="xs:string" />
        <xs:element minOccurs="0" name="bransje" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="unbounded" name="personer">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="hjelpefelt" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="randomnum" type="xs:long" />
        <xs:element minOccurs="0" name="listsearch" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xsd:schema>