src/test/apps/multiple-datamodels-test/App/models/modell3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:seres="http://seres.no/xsd/forvaltningsdata" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xs:annotation>
    <xs:documentation>
      <xsd:attribute name="rootNode" fixed="" />
    </xs:documentation>
  </xs:annotation>
  <xs:element name="modell3">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="tekstfelt" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="unbounded" name="kontaktinfo">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="epost" type="xs:string" />
              <xs:element minOccurs="0" name="mobilnummer" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xsd:schema>