src/studio/src/designer/DataModeling.Tests/_TestData/Model/XmlSchema/AltinnAnnotation.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <xsd:annotation>
    <xsd:documentation>
      <xsd:attribute name="XSLT-skriptnavn" fixed="SERES_XSD_GEN"/>
      <xsd:attribute name="XSD-generatorversjon" fixed="2.0.13"/>
      <xsd:attribute name="XSLT-prosessor" fixed="SAXON versjon 9.1.0.7"/>
      <xsd:attribute name="generert" fixed="2015-05-06T09:50:22.327+02:00"/>
      <xsd:attribute name="navneromprefix" fixed="http://seres.no/xsd"/>
      <xsd:attribute name="namespace" fixed="http://seres.no/xsd/StatistiskSentralbyrå/RA-0678_M/2015"/>
      <xsd:attribute name="meldingsnavn" fixed="melding"/>
      <xsd:attribute name="domenenavn" fixed="StatistiskSentralbyrå"/>
      <xsd:attribute name="modellnavn" fixed="RA-0678_M"/>
      <xsd:attribute name="metamodellversjon" fixed="1.2"/>
      <xsd:attribute name="guid" fixed="true"/>
      <xsd:attribute name="orid" fixed="false"/>
      <xsd:attribute name="nillable" fixed="true"/>
      <xsd:attribute name="tillat-gjenbruk" fixed="true"/>
      <xsd:attribute name="elementtype" fixed="true"/>
      <xsd:attribute name="forvaltningsdata" fixed="true"/>
      <xsd:attribute name="forvaltningsdata-navnerom" fixed="http://seres.no/xsd/forvaltningsdata"/>
      <xsd:attribute name="særnorske-bokstaver-i-navn" fixed="false"/>
      <xsd:attribute name="ft_guid_som_attributt" fixed="false"/>
      <xsd:attribute name="sem-ref" fixed="false"/>
      <xsd:attribute name="kodebibliotek" fixed="false"/>
      <xsd:attribute name="språk" fixed=""/>
      <xsd:attribute name="XSD-variant" fixed="Altinn"/>
      <xsd:attribute name="XSD-transformatorversjon" fixed="1.2"/>
    </xsd:documentation>
  </xsd:annotation>
  <xsd:element name="Root">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="e1" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>