src/studio/src/designer/DataModeling.Tests/_TestData/Model/XmlSchema/SequenceWithGroupRef.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema attributeFormDefault="unqualified"
            elementFormDefault="qualified"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <xsd:element name="Root" type="main" />

  <xsd:complexType name="main">
    <xsd:sequence>
      <xsd:group ref="g1" />
    </xsd:sequence>
    <xsd:attribute ref="a1" />
  </xsd:complexType>

  <xsd:attribute name="a1" type="xsd:integer" />

  <xsd:group name="g1">
    <xsd:sequence>
      <xsd:element name="name" type="xsd:string" />
    </xsd:sequence>
  </xsd:group>
</xsd:schema>
