src/Designer/testdata/Model/XmlSchema/General/Any.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema attributeFormDefault="unqualified"
            elementFormDefault="qualified"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <xsd:element name="Root" type="t1" />

  <xsd:complexType name="t1">
    <xsd:sequence>
      <xsd:element name="e1" type="xsd:string" />
      <xsd:any />
    </xsd:sequence>
    <xsd:anyAttribute />
  </xsd:complexType>
</xsd:schema>