src/studio/src/designer/backend.Tests/_TestData/Model/Xsd/Gitea/dat-aarligmelding-bemanning.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Skjema">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="Avsender" type="AvsenderAvSøknad" />
        <xs:element minOccurs="0" maxOccurs="1" name="Virksomhet" type="Virksomhet" />
        <xs:element minOccurs="0" maxOccurs="1" name="Innhold" type="InnholdSkjema" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="InnholdSkjema">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="MeldingTilArbeidstilsynet" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AvsenderAvSøknad">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Organisasjonsnummer" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Navn" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="Oppdragsfullmakt" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="Adresse" type="Adresse" />
      <xs:element minOccurs="0" maxOccurs="1" name="InnloggetBruker" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Spraak" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Adresse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Gateadresse" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Postnr" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Poststed" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Land" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Landkode" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Virksomhet">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Organisasjonsnummer" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Navn" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Adresse" type="Adresse" />
      <xs:element minOccurs="0" maxOccurs="1" name="Organisasjonsform" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>