App/models/model.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:seres="http://seres.no/xsd/forvaltningsdata" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xs:annotation>
    <xs:documentation>
      <xsd:attribute name="rootNode" fixed="" />
    </xs:documentation>
  </xs:annotation>
  <xs:element name="model">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="shortAnswerInput" type="xs:string" />
        <xs:element minOccurs="0" name="longAnswerInput" type="xs:string" />
        <xs:element name="radioButtonInput" type="xs:string" />
        <xs:element name="checkboxesInput" type="xs:string" />
        <xs:element name="nestedInput" type="xs:string" />
        <xs:element name="streetnr" type="xs:string" />
        <xs:element name="postnr" type="xs:string" />
        <xs:element minOccurs="0" name="city" type="xs:string" />
        <xs:element minOccurs="0" name="co" type="xs:string" />
        <xs:element minOccurs="0" name="street" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xsd:schema>