src/studio/src/designer/DataModeling.Tests/_TestData/Model/XmlSchema/General/ComplexContentExtension.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <xsd:element name="Root">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="myBase">
          <xsd:sequence>
            <xsd:element name="ce1" type="xsd:string" />
          </xsd:sequence>
          <xsd:attribute name="a1" type="xsd:int" />
        </xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="myBase">
    <xsd:sequence>
      <xsd:element name="be1" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>