src/studio/src/designer/DataModeling.Tests/_TestData/Model/XmlSchema/General/SimpleContentRestriction.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <xsd:element name="Root">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="title" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="title">
    <xsd:complexType>
      <xsd:simpleContent>
        <xsd:restriction base="tokenWithLangAndNote">
          <xsd:maxLength value="255"/>
          <xsd:attribute name="lang" type="xsd:language"/>
          <xsd:attribute name="note" type="xsd:token"/>
        </xsd:restriction>
      </xsd:simpleContent>
    </xsd:complexType>
  </xsd:element>

  <xsd:complexType name="tokenWithLangAndNote">
    <xsd:simpleContent>
      <xsd:extension base="xsd:token">
        <xsd:attribute name="lang" type="xsd:language"/>
        <xsd:attribute name="note" type="xsd:token"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>

</xsd:schema>
